<%= form_for(@survey_step) do |f| %>
  <% if @survey_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_step.errors.count, "error") %> prohibited this survey_step from being saved:</h2>

      <ul>
      <% @survey_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survey_template_id %><br>
    <%= f.number_field :survey_template_id %>
  </div>
  <div class="field">
    <%= f.label :step %><br>
    <%= f.number_field :step %>
  </div>
  <div class="field">
    <%= f.label :duplicator %><br>
    <%= f.check_box :duplicator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
