<p id="notice"><%= notice %></p>

<p>
  <strong>Survey template:</strong>
  <%= @survey_step.survey_template %>
</p>

<p>
  <strong>Step:</strong>
  <%= @survey_step.step %>
</p>

<p>
  <strong>Duplicator:</strong>
  <%= @survey_step.duplicator %>
</p>

<%= link_to 'Edit', edit_survey_step_path(@survey_step) %> |
<%= link_to 'Back', survey_steps_path %>
