Step 2

- if @survey.errors.any?
  - flash.now[:alert] = @survey.errors.full_messages.join(', ').to_s

= form_for @survey, url: :wizard, method: :put, html: {class: "form-horizontal"}  do |f|

  .page-header
    %h5
      = f.object.project.organization.name + ": "
      %i= f.object.project.name
      |
      Mode:
      %i= yield :survey_form_state
    %h1= f.object.survey_template.name

  = f.hidden_field :project_id
  = f.hidden_field :survey_template_id

  -# loop through survey questions and display
  - @survey.observations.each_with_index do |o, index|
    = f.fields_for :observations, o do |ff|
      = ff.hidden_field :survey_question_id
      -# trying to show previous steps and submitted data as readonly
      - if o.survey_question.group.eql? 'step_1'
        = render ("hanuman/shared/show_" + o.survey_question.question.answer_type.name), o: o rescue render "hanuman/shared/rescue_show_notsupported", o: o
      - else
        -# if repeating observation is new, then show form
        - if o.id.blank?
          = render ("hanuman/shared/field_" + ff.object.survey_question.question.answer_type.name), ff: ff, index: index rescue render "hanuman/shared/rescue_field_notsupported", ff: ff, index: index
        - else
          = render ("hanuman/shared/show_" + o.survey_question.question.answer_type.name), o: o rescue render "hanuman/shared/rescue_show_notsupported", o: o
        =# debug o
  .form-group
    .col-sm-offset-5.col-sm-7
      = f.submit "Save + Add Another", class: "btn btn-primary", data: {repeat: true}
      = f.submit "Save", class: "btn btn-primary"
      = link_to "Skip", next_wizard_path, class: "btn btn-default"
      = link_to "Previous", previous_wizard_path, class: "btn btn-default"
      = link_to "Cancel", surveys_path, data: {confirm: "Are you sure you want to Cancel?"}, class: "btn btn-default"
