<div class="form-horizontal">
  <div class="panel panel-info">
    <div class="panel-title">Edit Survey - {{surveyTemplate.name}}</div>
    <div class="tab-base tab-stacked-left">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#tab-survey-layout">Survey Layout</a>
        </li>
        <li>
          <a href="/hanuman/projects/7/survey_templates/{{surveyTemplate.id}}/edit">Survey Details</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab-survey-layout" class="tab-pane active">
          {{questions-list
            surveyTemplate=surveyTemplate
            isLoadingQuestions=isLoadingQuestions
            loadingProgress=loadingProgress
            updateSortOrder="updateSortOrder"
          }}
        </div>
        <div id="tab-survey-details" class="tab-pane">
          {{liquid-outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet 'questions'}}
