<div class="page-header">
  <div class="pull-left">
    <a class="btn btn-primary" href="/hanuman/survey_templates/{{surveyTemplate.id}}"><span class="glyphicon glyphicon-chevron-left"></span>
      Back to Survey Template Details
    </a>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" href="/hanuman/survey_templates/{{surveyTemplate.id}}/update_survey_data">
      Resort Submitted Data
    </a>
  </div>
</div>

<div class="form-horizontal">
  {{outlet}}
  {{questions-list surveyTemplate=surveyTemplate}}
 </div>

{{outlet 'questions'}}

