<div class="form-horizontal">
  <div class="panel panel-info">
    <div class="panel-title">
      Admin /
      <a href="/projects/{{projectId}}/surveys">Survey Forms / </a>
      <a href="/hanuman/admin/projects/{{projectId}}/survey_templates/{{surveyTemplate.id}}">Edit Survey Form Layout - {{surveyTemplate.namePlusVersion}}</a>
    </div>
    <div class="tab-base tab-stacked-top">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="/hanuman/admin/survey_templates/{{surveyTemplate.id}}/edit">Survey Form Layout</a>
        </li>
        <li>
          {{#if hasProjectId}}
            <a href="/hanuman/projects/{{projectId}}/survey_templates/{{surveyTemplate.id}}">Survey Form Details</a>
          {{else}}
            <a href="/hanuman/survey_templates/{{surveyTemplate.id}}">Survey Form Details</a>
          {{/if}}
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab-survey-layout" class="tab-pane active">
          {{questions-list surveyTemplate=surveyTemplate updateSortOrderTask=updateSortOrderTask}}
        </div>
        <div id="tab-survey-details" class="tab-pane">
          {{liquid-outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet 'questions'}}
