- if @answer_choice.errors.any?
  - flash.now[:alert] = @answer_choice.errors.full_messages.join(', ').to_s

= form_for @answer_choice, html: {class: "form-horizontal"} do |f|

  .panel-body
    .form-group
      = f.label :question, class: "col-sm-2 control-label"
      .col-sm-4
        = f.text_field :question, class: "form-control"
    .form-group
      = f.label :option_text, class: "col-sm-2 control-label"
      .col-sm-4
        = f.text_field :option_text, class: "form-control"
    .form-group
      = f.label :scientific_text, class: "col-sm-2 control-label"
      .col-sm-4
        = f.text_field :scientific_text, class: "form-control"
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit "Save", class: "btn btn-primary"
        = link_to "Cancel", answer_choices_path, data: {confirm: "Are you sure you want to Cancel?"}, class: "btn btn-default"
