- content_for :title do
  Answer Choices
- content_for :title_parent do
  Answer Choices
- content_for :superuser_label do
  AC
- content_for :title_actions do
  = render "actions", locals: {}
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_answer_choices do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title Answer Choices
  .panel-body
    .pull-right= paginate(@answer_choices)
    .clearfix
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th= sortable "hanuman_questions.question_text, hanuman_answer_choices.option_text, hanuman_answer_choices.scientific_text*", "Question"
            %th= sortable "hanuman_answer_choices.option_text, hanuman_questions.question_text, hanuman_answer_choices.scientific_text*", "Option Text"
            %th= sortable "hanuman_answer_choices.scientific_text, hanuman_questions.question_text, hanuman_answer_choices.option_text*", "Scientific Text"
            %th

        %tbody
          - @answer_choices.each do |answer_choice|
            %tr
              %td= link_to answer_choice.question.question_text, answer_choice unless answer_choice.question.blank?
              %td= link_to answer_choice.option_text, answer_choice
              %td= link_to answer_choice.scientific_text, answer_choice unless answer_choice.scientific_text.blank?
              %td
                = link_to answer_choice, data: {confirm: "Are you sure you want to delete this Answer Choice?"}, method: :delete do
                  %span.glyphicons.glyphicons-trash
    .pull-right= paginate(@answer_choices)
    .clearfix
