- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_answer_choices do
  active
- content_for :title do
  Answer Choices

.panel
  .panel-title
    -# Answer Choices
    = link_to new_answer_choice_path, class: "btn btn-primary" do
      %span.glyphicon.glyphicon-plus
      New Answer Choice
  .panel-body
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Question
            %th Option Text
            %th Scientific Text
            %th

        %tbody
          - @answer_choices.each do |answer_choice|
            %tr
              %td= link_to answer_choice.question.question_text, answer_choice unless answer_choice.question.blank?
              %td= link_to answer_choice.option_text, answer_choice
              %td= link_to answer_choice.scientific_text, answer_choice unless answer_choice.scientific_text.blank?
              %td
                = link_to answer_choice, data: {confirm: "Are you sure you want to delete this Answer Choice?"}, method: :delete do
                  %span.glyphicon.glyphicon-trash
