- content_for :title do
  Questions
- content_for :title_parent do
  Questions
- content_for :title_icon do
  glyphicon-question-sign
- content_for :title_actions do
  = render "actions", locals: {}
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_questions do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title Questions
    = link_to import_answer_choices_questions_path, class: "btn btn-success panel-title-button-right" do
      %span.glyphicon.glyphicon-save
      Import Answer Choices
  .panel-body
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th= sortable "hanuman_questions.question_text, hanuman_answer_types.name*", "Question Text"
            %th= sortable "hanuman_answer_types.name, hanuman_questions.question_text*", "Answer Type"
            %th

        %tbody
          - @questions.each do |question|
            %tr
              %td= link_to question.question_text, question
              %td= link_to question.answer_type.name, question unless question.answer_type.blank?
              %td
                = link_to question, data: {confirm: "Are you sure you want to delete this Question?"}, method: :delete do
                  %span.glyphicon.glyphicon-trash
