- content_for :title do
  Question Details
- content_for :title_parent do
  Questions
- content_for :title_icon do
  glyphicon-question-sign
- content_for :title_actions do
  = render "actions", locals: {}
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_questions do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title Question Details

  %form.form-horizontal
    .panel-body
      .pull-right
        = link_to edit_question_path(@question), class: "btn btn-primary" do
          %span.glyphicon.glyphicon-pencil
          Edit Question
      .clearfix
      .form-group
        %label.col-sm-2.control-label Question Text
        .col-sm-10
          %p.form-control-static= @question.question_text
      .form-group
        %label.col-sm-2.control-label Answer Type
        .col-sm-10
          %p.form-control-static= @question.answer_type.name
      %h4
        Answer Choices
      %hr
      %h5.row
        .col-sm-2
        .col-sm-1
          Name
        .col-sm-1
          Status
      - @question.answer_choices.each do |ac|
        .row
          .col-sm-2
          .col-sm-6
            = ac.option_text
          .col-sm-1
