- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_settings do
  active
- content_for :title do
  Settings

.panel
  .panel-title
    -# Settings
    = link_to new_setting_path, class: "btn btn-primary" do
      %span.glyphicon.glyphicon-plus
      New Setting


  .panel-body
    .pull-right= paginate @settings
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Key
            %th Value
            %th

        %tbody
          - @settings.each do |setting|
            %tr
              %td= link_to setting.key, setting
              %td= link_to setting.value, setting
              %td
                = link_to setting, data: {confirm: "Are you sure you want to delete this Setting?"}, method: :delete do
                  %span.glyphicon.glyphicon-trash

    .pull-right= paginate @settings
