- content_for :title do
  System Settings
- content_for :navbar_main_settings do
  active
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_settings do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title System Settings

  .panel-body
    .pull-left= paginate(@settings)
    .pull-right
      = link_to new_setting_path, class: "btn btn-success" do
        %i.glyphicons.glyphicons-plus
        %span.menu-title
          New System Setting
    .clearfix
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th= sortable "hanuman_settings.key, hanuman_settings.value*", "Key"
            %th= sortable "hanuman_settings.value, hanuman_settings.key*", "Value"
            %th

        %tbody
          - @settings.each do |setting|
            %tr
              %td= link_to setting.key, setting
              %td= link_to setting.value, setting
              %td
                = link_to setting, data: {confirm: "Are you sure you want to delete this Setting?"}, method: :delete do
                  %span.glyphicons.glyphicons-trash

    .pull-left= paginate(@settings)
    .clearfix
