- step = observations.first.question.survey_step.step
.panel.panel-info
  .panel-heading.chevron{:"data-toggle" => "collapse", :"data-target" => "#collapse_#{step}_#{entry}", class: "#{'collapsed' unless show}"}
    %h4.panel-title
      %span.glyphicons.glyphicons-chevron-right
      %span.glyphicons.glyphicons-chevron-down
      %strong
        Step
        = step
        Entry
        = entry
      - if duplicator
        %em= "(" + Hanuman::Setting.value("duplicator_step_label") + ")"
  -# i know there is a better way to do this, if show just adds the .in class to the collapse, else no .in class
  - if show
    .panel-collapse.collapse.in{:id => "collapse_#{step}_#{entry}"}
      .panel-body
        .pull-right.edit-delete
          = link_to edit_survey_path(@survey.id, step, entry), class: "btn btn-xs btn-primary" do
            %span.glyphicons.glyphicons-pencil
            Edit Entry
          - if step == 2
            -# we are in a step 2 so we need a delete and add button
            = link_to observations.first, data: {confirm: "Are you sure you want to delete this entry?"}, method: :delete, class: "btn btn-xs btn-danger" do
              %span.glyphicons.glyphicons-trash
              Delete Entry
        .clearfix
        - if step == 1 and entry == 1
          = render ("hanuman/surveys/formextensionreadonly"), s: survey
        - observations.each do |o|
          =# debug o.inspect
          = render ("hanuman/surveys/fields/readonly/" + o.question.answer_type.name), o: o rescue render "hanuman/surveys/fields/readonly/rescue/notsupported", o: o
  - else
    .panel-collapse.collapse{:id => "collapse_#{step}_#{entry}"}
      .panel-body
        - if step == 1 and entry == 1
          = render ("hanuman/surveys/formextensionreadonly"), s: survey
        - observations.each do |o|
          =# debug o.inspect
          = render ("hanuman/surveys/fields/readonly/" + o.question.answer_type.name), o: o rescue render "hanuman/surveys/fields/readonly/rescue/notsupported", o: o
