.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    - if ff.object.question.answer_choices.blank?
      .helperbelow
        There are no available answer options. You can add answer options to a question in the survey admin (Design a Survey) page.
        = ff.hidden_field :answer
    - else
      %p
        - cbl_answers = ff.object.observation_answers.map{|oa| oa.answer_choice_id}
        = hidden_field_tag "survey[observations_attributes][#{index}][answer_choice_ids][]", ""
        - ff.object.question.answer_choices.sorted.each do |a|
          = hidden_field_tag "survey[observations_attributes][#{index}][answer_choice_ids][]", ""

          - if o.question.calculated? || @survey_readonly
            = check_box_tag "survey[observations_attributes][#{index}][answer_choice_ids][]",
                               a.id, cbl_answers.include?(a.id), class: 'form-control', onclick: "return false;", style: "cursor: not-allowed; opacity: 0.5", data: { "label-value" => a.formatted_answer_choice }

          - elsif a.option_text == ff.object.question.default_answer && ff.object.answer == a.option_text
            = check_box_tag "survey[observations_attributes][#{index}][answer_choice_ids][]",
                               a.id, true, class: 'form-control', data: { "label-value" => a.formatted_answer_choice }
          - else
            = check_box_tag "survey[observations_attributes][#{index}][answer_choice_ids][]",
                               a.id, cbl_answers.include?(a.id), class: 'form-control', data: { "label-value" => a.formatted_answer_choice }
          = label_tag nil, a.formatted_answer_choice
          %br/
