.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    - if ff.object.question.answer_choices.blank?
      .helperbelow
        There are no available answer options. You can add answer options to a question in the survey admin (Design a Survey) page.
        = ff.hidden_field :answer
    - else
      - cbl_answers = ff.object.observation_answers.map{|oa| oa.answer_choice_id}
      - ff.object.question.answer_choices.sorted.each do |a|
        = check_box_tag "survey[observations_attributes][#{index}][answer_choice_ids][]",
                           a.id, cbl_answers.include?(a.id), class: 'form-control'
        = label_tag nil, a.formatted_answer_choice
        %br/
    = ff.hidden_field :entry
