.form-group.file-upload
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7.document-column.file-upload-input-button
    - if !@survey.id.nil?
      - unless @survey_readonly
        .edit-mode-file
        = ff.fields_for :observation_documents, d do |fff|
          = fff.cl_upload(:document, :html => { :multiple => true , :class => "document-upload survey-document-upload"})
        .document-upload-error
        .progress.hidden
          .progress-bar.progress-bar-success.document-progress-bar
        .document-preview-container
      - o.observation_documents.order(sort_order: :asc).each do |d|
        = ff.fields_for :observation_documents, d do |fff|
          .upload-view-mode
            - document_url = cloudinary_url(d.document.url, :sign_url => true)
            - if document_url.blank?
              %p.form-control-static.bg-danger PHOTO NOT FOUND
              %p
                = d.document.my_public_id + "." + d.document.format + " | this document failed to upload successfully, please retry upload or remove"
            - else
              - if ['pdf','jpg','png','gif'].include? d.document.url.last(3)
                = link_to cl_image_tag(d.document.my_public_id, size: '350x350', crop: :thumb, class: 'img-responsive', format: 'jpg', :sign_url => true), cloudinary_url(d.document, :sign_url => true), html_options = {target: "_blank", id: "document_" + d.id.to_s}
              - else
                = image_tag("file-icon.png", class: 'img-responsive')
              %p
                = link_to d.document.my_public_id + "." + d.document.format + " | download file", cloudinary_url(d.document.url, attachment: true, resource_type: :raw, :sign_url => true), html_options = { download: true }
            = fff.label :"Document Description"
            .form-group
              .col-sm-7
                = fff.text_area :description, rows: 2, cols: 55, placeholder: "Add document description here...", readonly: @survey_readonly
            = fff.label "Document Sort Order"
            .form-group
              .col-sm-7
                = fff.text_field :sort_order, class:"upload-sort-order", readonly: @survey_readonly
            %br
            %br
            - unless @survey_readonly
              %p.delete-box
                = fff.check_box :_destroy, class:"hidden delete-checkbox"
                %a{class:"delete-saved-file", href:"#"}Remove Document
            %hr
    - elsif !@survey_readonly
      = ff.fields_for :observation_documents do |fff|
        = fff.cl_upload(:document, :resource_type => "auto", :html => { :multiple => true , :class => "document-upload survey-document-upload" })
        .document-upload-error
        .progress.hidden
          .progress-bar.progress-bar-success.document-progress-bar
        .document-preview-container.preview-container
