.form-group.file-upload
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7.document-column
    - if !@survey.id.nil?
      .edit-mode-file
      = ff.fields_for :observation_documents,o do |fff|
        = fff.cl_upload(:document, :html => { :multiple => true , :class => "image_upload survey-document-upload"})
      .document-upload-error
      .document-preview-container
      .progress
        .progress-bar.progress-bar-success.document-progress-bar
      - o.observation_documents.each do |d|
        = ff.fields_for :observation_documents,d do |fff|
          .upload-view-mode
            - if ['pdf','jpg','png','gif'].include? d.document.url.last(3)
              = link_to cl_image_tag(d.document.my_public_id, size: '350x350', crop: :thumb, class: 'img-responsive thumbnail', format: 'jpg'), cloudinary_url(d.document), html_options = {target: "_blank", id: "document_" + d.id.to_s}
            - else
              = image_tag("file-icon.png", class: 'img-responsive thumbnail')
            %br
            = fff.text_area :description, rows: 2, cols: 55, style: "margin:20px 0 20px 0;"
            %br
            %p.delete-box
              = fff.check_box :_destroy, class:"hidden delete-checkbox"
              %a{class:"delete-saved-file", href:"#"}Delete Document
            %hr
    - else
      = ff.fields_for :observation_documents do |fff|
        = fff.cl_upload(:document, :html => { :multiple => true , :class => "image_upload survey-document-upload"})
        .document-upload-error
        .document-preview-container
        .progress.hidden
          .progress-bar.progress-bar-success.document-progress-bar
    = ff.hidden_field :entry
