- if ff.object.answer.present? && ff.object.latitude.blank? && ff.object.longitude.blank? && ff.object.answer.include?(",")
  - ff.object.latitude = ff.object.answer.split(",")[0].strip
  - ff.object.longitude = ff.object.answer.split(",")[1].strip

.form-group.survey-map-field
  .col-sm-7.col-sm-offset-5.map-container.hidden
    .hidden
    -# the id of the map div must be unique for the mapping js to work, using index to get uniqueness
    - if "#{o.latitude.to_f.round(6)},#{o.longitude.to_f.round(6)}" != o.answer
      .col-sm-12.latlong{id: "map_#{index}", style: "width:100%; height:320px;", :"data-latlong" => [ff.object.latitude, ff.object.longitude].join(","), :"data-infowindow" => ff.object.question.question_text, :"data-answer" => "#{o.answer}"}
    - else
      .col-sm-12.latlong{id: "map_#{index}", style: "width:100%; height:320px;", :"data-latlong" => [ff.object.latitude, ff.object.longitude].join(","), :"data-infowindow" => ff.object.question.question_text}

    .helper-text.helperbelow
      %p
    .map-buttons
      %a.btn.btn-success.edit-map{:"data-original-latlong" => "#{ff.object.answer}"} Position map then click here to plot
      %a.btn.btn-default.cancel-map{style: "display:none;"} Cancel
    .col-sm-12
      &nbsp;
      .hidden
        #edit-map-lat
        #edit-map-lng
  .clearfix
  .col-sm-12
    &nbsp;
  = render "hanuman/surveys/fields/shared/label", ff: ff

  .col-sm-4.lat-long-input
    - if o.answer? && "#{o.latitude.to_f.round(6)},#{o.longitude.to_f.round(6)}" != o.answer
      -# - puts o.latitude.to_f.round(6) o.longitude.to_f.round(6)
      %p.form-control-static= "#{o.latitude.to_f.round(6)},#{o.longitude.to_f.round(6)} - YELLOW POINT (o.latitude and o.longitude)"
      .btn.btn-primary.updateLatLong{:"data-lat-long" => "#{o.latitude.to_f.round(6)},#{o.longitude.to_f.round(6)}" } Yellow
      %p.form-control-static= "#{o.answer} - BLUE POINT (o.answer)"
      .btn.btn-primary.updateLatLong{:"data-lat-long" => "#{o.answer}"} Blue
    = ff.text_field :latitude, class: "form-control lat-entry", maxlength: 230, "data-parsley-type": "number", "data-parsley-type-step": "any", "placeholder": "Latitude"
    = ff.text_field :longitude, class: "form-control long-entry", maxlength: 230, "data-parsley-type": "number", "data-parsley-type-step": "any", "placeholder": "Longitude"
    = ff.text_field :speed, class: "form-control", maxlength: 230, "data-parsley-type": "number", "data-parsley-type-step": "any", "placeholder": "Speed (m/s)"
    = ff.text_field :direction, class: "form-control", maxlength: 230, "data-parsley-type": "number", "data-parsley-type-step": "any", "placeholder": "Direction (degrees from N)"
    = ff.text_field :altitude, class: "form-control", maxlength: 230, "data-parsley-type": "number", "data-parsley-type-step": "any", "placeholder": "Altitude (m)"
    = ff.text_field :accuracy, class: "form-control", maxlength: 230, "data-parsley-type": "number", "data-parsley-type-step": "any", "placeholder": "Accuracy (m)"

  .col-sm-3
    %a.btn.btn-success.map-toggle-button  Plot Map Location
