.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    - if ff.object.question.answer_choices.blank?
      = ff.text_field :answer, value: "There are no available Answer Options!", class: "form-control", readonly: true
    - else
      = select_tag "survey[observations_attributes][#{index}][answer_choice_ids][]",
                    option_groups_from_collection_for_select(ff.object.question.answer_choices.roots.sorted, :children, :formatted_answer_choice, :id, :formatted_answer_choice,
                    ff.object.observation_answers.map{|oa| oa.answer_choice_id}),
                    {multiple: true, size: 10, class: 'form-control'}
    = ff.hidden_field :entry
