.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    = ff.fields_for :observation_photos, o do |fff|
      = fff.cl_image_upload :photo, :html => { :multiple => true , :class => "image_upload"}
      .preview

    = ff.hidden_field :entry
    -# = text_field_tag "survey[observations_attributes][#{index}][observation_photos][#{index}][photo]"
    -# = text_field_tag "survey[observations_attributes][#{index}][observation_photos][#{index}][description]"
