.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    - if ff.object.question.answer_choices.blank?
      .helperbelow
        There are no available answer choices. You can add answer choices to a question in the Form Layout page. Go to Project Setup, Forms Library, select your form, Form Layout tab and edit the Question.
        = ff.hidden_field :answer
    - else
      %p
        -if ff.object.answer.present? && ff.object.answer_choice_id.blank?
          - ff.object.question.answer_choices.sorted.each do |a|
            - if o.question.calculated? || @survey_readonly
              = radio_button_tag "survey[observations_attributes][#{index}][answer_choice_id]",
                                a.id, ff.object.answer.eql?(a.formatted_answer_choice), onclick: "return false;", style: "cursor: not-allowed; opacity: 0.5",  data: { "label-value" => a.formatted_answer_choice, "default-answer" => o.question.default_answer, "answer-choice-id" =>  a.id}
            - else
              = radio_button_tag "survey[observations_attributes][#{index}][answer_choice_id]",
                                a.id, ff.object.answer.eql?(a.formatted_answer_choice), data: { "label-value" => a.formatted_answer_choice, "default-answer" => o.question.default_answer, "answer-choice-id" =>  a.id}
            = label_tag nil, a.formatted_answer_choice
            %br/
        - else
          - ff.object.question.answer_choices.sorted.each do |a|
            - if o.question.calculated? || @survey_readonly
              = radio_button_tag "survey[observations_attributes][#{index}][answer_choice_id]",
                              a.id, ff.object.answer_choice_id.eql?(a.id), onclick: "return false;", style: "cursor: not-allowed; opacity: 0.5", data: { "label-value" => a.formatted_answer_choice, "default-answer" => o.question.default_answer, "answer-choice-id" =>  a.id}
            - else
              = radio_button_tag "survey[observations_attributes][#{index}][answer_choice_id]",
                              a.id, ff.object.answer_choice_id.eql?(a.id), data: { "label-value" => a.formatted_answer_choice, "default-answer" => o.question.default_answer, "answer-choice-id" =>  a.id}
            = label_tag nil, a.formatted_answer_choice
            %br/
