.form-group.file-upload
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7.video-column.file-upload-input-button
    - if !@survey.id.nil?
      .edit-mode-file
      = ff.fields_for :observation_videos, o do |fff|
        = fff.cl_upload(:video, :chunk_size => 6_000_000, :html => { :multiple => true , :class => "video-upload survey-video-upload"})
      .video-upload-error
      .progress.hidden
        .progress-bar.progress-bar-success.video-progress-bar
      .video-preview-container
      - o.observation_videos.order(sort_order: :asc).each do |v|
        = ff.fields_for :observation_videos, v do |fff|
          .upload-view-mode
            = cl_video_tag(v.video.my_public_id, options = { controls: true, preload: 'none', width: 350 })
            %p
              = fff.object.video.file.public_id + "." + fff.object.video.file.format

            = fff.label :"description"
            .form-group
              .col-sm-7
                = fff.text_area :description, rows: 2, cols: 55, placeholder: "Add video description here..."

            = fff.label :"Sort Order"
            .form-group
              .col-sm-7
                = fff.text_field :sort_order, type: :number
            %p.delete-box
              = fff.check_box :_destroy, class:"hidden delete-checkbox"
              %a{class:"delete-saved-file", href:"#"}Delete Video
            %hr
    - else
      = ff.fields_for :observation_videos do |fff|
        = fff.cl_upload(:video, :chunk_size => 6_000_000, :html => { :multiple => true , :class => "video-upload survey-video-upload"})
        .video-upload-error
        .progress.hidden
          .progress-bar.progress-bar-success.video-progress-bar
        .video-preview-container
    = ff.hidden_field :entry
