<div class="container">
  <div class="col-md-12">
    <div class="pull-right">
      <a class="btn btn-success" data-test="duplicate-survey-link" id="duplicate-survey-link" onclick={{route-action "duplicate"}}>
        <span class="glyphicons glyphicons-duplicate"></span>
        <span class="text">Duplicate Form</span>
      </a>
      {{#link-to "survey_templates.record.edit" surveyTemplate data-test="edit-survey-link" class="btn btn-success"}}
        <span class="glyphicons glyphicons-pencil"></span>
        Edit Survey Details
      {{/link-to}}
      {{#if isSuperUser}}
        <a class="btn btn-danger" data-test="delete-survey-link" id="delete-survey-link" onclick={{route-action "delete"}}>
          <span class="glyphicons glyphicons-bin"></span>
          <span class="text">Delete Survey</span>
        </a>
      {{/if}}
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <p class="form-control-static" data-test="surveyTemplate.name">
          {{surveyTemplate.name}}
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Type</label>
      <div class="col-sm-2">
        <p class="form-control-static">
          {{surveyTemplate.surveyType}}
        </p>
      </div>
      <label class="col-sm-2 control-label">Status</label>
      <div class="col-sm-2">
        <p class="form-control-static" data-test="surveyTemplate.status">
          {{surveyTemplate.status}}
        </p>
      </div>
    </div>
    {{!-- {{#if surveyTemplate.fullyEditable}}
    {{else}}
      <div class="alert alert-info">
          <p>This survey has existing data.</p>
          <p>You cannot add questions to survey forms with previously submitted data. To add a question duplicate this survey form and add the question to the new version of the form.</p>
          <p>If you delete a question, previously submitted data will be deleted.</p>
          <p>If you change the sort order, previously submitted data will be resorted.</p>
          <p>If you don't want to change previously submitted data then duplicate this survey form and make edits to the duplicated survey form.</p>
      </div>
    {{/if}} --}}
  </div>
</div>
