<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Survey Details</h3>
  </div>
  <div class="panel-body">
    <div class="pull-right">
      <a class="btn btn-success" data-test="duplicate-survey-link" id="duplicate-survey-link" onclick={{route-action "duplicate"}}>
        <span class="glyphicons glyphicons-duplicate"></span>
        <span class="text">Duplicate Survey</span>
      </a>
      {{#link-to 'survey_templates.record.edit' surveyTemplate data-test="edit-survey-link" class="btn btn-success"}}
        <span class="glyphicons glyphicons-pencil"></span>
        Edit Survey Details
      {{/link-to}}
      <a class="btn btn-danger" data-test="delete-survey-link" id="delete-survey-link" onclick={{route-action "delete"}}>
        <span class="glyphicons glyphicons-bin"></span>
        <span class="text">Delete Survey</span>
      </a>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <p class="form-control-static" data-test="surveyTemplate.name">
          {{surveyTemplate.name}}
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Type</label>
      <div class="col-sm-2">
        <p class="form-control-static">
          {{surveyTemplate.surveyType}}
        </p>
      </div>
      <label class="col-sm-2 control-label">Status</label>
      <div class="col-sm-2">
        <p class="form-control-static" data-test="surveyTemplate.status">
          {{surveyTemplate.status}}
        </p>
      </div>
      {{#if surveyTemplate.fullyEditable}}
      {{else}}
        <label class="col-sm-2 control-label">This survey has existing data</label>
        <div class="col-sm-2">
          <p class="form-control-static">
            You can make changes to this survey, however, if you delete a question, previously submitted data will be deleted. In addition, if you add a question, previously submitted surveys won't have that question. Also, if you change the sort order, previously submitted surveys will not have that same sort. These kinds of changes could affect the pivot report. If this could be a problem we recommend you duplicate this survey and make changes to the duplicated survey.
          </p>
        </div>
      {{/if}}
    </div>
  </div>
</div>
