- content_for :navbar_survey_questions do
  active

.page-header
  = link_to new_survey_question_path, class: "btn btn-primary" do
    %span.glyphicon.glyphicon-plus
    New Survey Question
  %h1 Survey Questions

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Survey Template
        %th Question
        %th Order
        %th Group
        %th Duplicator
        %th

    %tbody
      - @survey_questions.each do |survey_question|
        %tr
          %td= link_to survey_question.survey_template.name, survey_question
          %td= link_to survey_question.question.question_text, survey_question
          %td= link_to survey_question.order, survey_question
          %td= link_to survey_question.group, survey_question
          %td= link_to survey_question.duplicator, survey_question
          %td
            = link_to survey_question, data: {confirm: "Are you sure you want to delete this Survey Question?"}, method: :delete do
              %span.glyphicon.glyphicon-trash
