- content_for :title do
  Answer Type Details
- content_for :navbar_main_settings do
  active
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_answer_types do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title Answer Type Details

  %form.form-horizontal
    .panel-body
      .pull-right
        = link_to edit_answer_type_path(@answer_type), class: "btn btn-success" do
          %span.glyphicons.glyphicons-pencil
          Edit Answer Type
      .clearfix
      .form-group
        %label.col-sm-2.control-label Name
        .col-sm-10
          %p.form-control-static= @answer_type.name
      .form-group
        %label.col-sm-2.control-label Group Type
        .col-sm-10
          %p.form-control-static= @answer_type.group_type
      .form-group
        %label.col-sm-2.control-label Element Type
        .col-sm-10
          %p.form-control-static= @answer_type.element_type
      .form-group
        %label.col-sm-2.control-label Descriptive Name
        .col-sm-10
          %p.form-control-static= @answer_type.descriptive_name
      .form-group
        %label.col-sm-2.control-label Description
        .col-sm-10
          %p.form-control-static= @answer_type.description
      .form-group
        %label.col-sm-2.control-label Has Answer Choices
        .col-sm-10
          %p.form-control-static= @answer_type.has_answer_choices
      .form-group
        %label.col-sm-2.control-label Answer Choice Type
        .col-sm-10
          %p.form-control-static= @answer_type.answer_choice_type
      .form-group
        %label.col-sm-2.control-label External Data Source
        .col-sm-10
          %p.form-control-static= @answer_type.external_data_source
      .form-group
        %label.col-sm-2.control-label Status
        .col-sm-10
          %p.form-control-static= @answer_type.status
