<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @rule.question %>
</p>

<p>
  <strong>Match type:</strong>
  <%= @rule.match_type %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
