<h1>Listing observation_photos</h1>

<table>
  <thead>
    <tr>
      <th>References</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observation_photos.each do |observation_photo| %>
      <tr>
        <td><%= observation_photo.references %></td>
        <td><%= observation_photo.photo %></td>
        <td><%= observation_photo.description %></td>
        <td><%= observation_photo.latitude %></td>
        <td><%= observation_photo.longitude %></td>
        <td><%= link_to 'Show', observation_photo %></td>
        <td><%= link_to 'Edit', edit_observation_photo_path(observation_photo) %></td>
        <td><%= link_to 'Destroy', observation_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observation photo', new_observation_photo_path %>
