<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @observation_photo.references %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @observation_photo.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @observation_photo.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @observation_photo.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @observation_photo.longitude %>
</p>

<%= link_to 'Edit', edit_observation_photo_path(@observation_photo) %> |
<%= link_to 'Back', observation_photos_path %>
