- content_for :title do
  Edit Form Layout
-# - content_for :navbar_sub_data do
-#   active
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active
- content_for :navbar_sub_projects do
  active
- content_for :navbar_sub_projects_sub_project_surveys do
  active
- content_for :helper_list do
  = render "hanuman/survey_templates/helper_list"

:javascript
  window.superUser = #{current_user.superuser?};
  window.jacobs = #{current_user.organization.id == 547};

#ember-container
  %base{href: "/hanuman/admin/"}
  = include_ember_script_tags :frontend
  = include_ember_stylesheet_tags :frontend

#old-ie-version{:style => 'display: none;'}
  %h1
    You are using an unsupported browser.
  %h2
    Please install one of the following browsers:
    %br/
    %br/
    %a{:href => "https://www.google.com/chrome/browser", :target => "_blank"}
      %span{:style => "color: #00F;"} Chrome
      (https://www.google.com/chrome/browser)
    %br/
    %br/
    %a{:href => "https://www.mozilla.org/firefox", :target => "_blank"}
      %span{:style => "color: #00F;"} Firefox
      (https://www.mozilla.org/firefox)
    %br/
    %br/
    %a{:href => "https://www.microsoft.com/en-us/windows/microsoft-edge", :target => "_blank"}
      %span{:style => "color: #00F;"} Edge
      (https://www.microsoft.com/en-us/windows/microsoft-edge)

:javascript
  function detectIE() {
    var ua = window.navigator.userAgent;

    var msie = ua.indexOf('MSIE ');
    if (msie > 0) {
      return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
    }

    var trident = ua.indexOf('Trident/');
    if (trident > 0) {
      var rv = ua.indexOf('rv:');
      return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
    }

    var edge = ua.indexOf('Edge/');
    if (edge > 0) {
      return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
    }

    return false;
  }

  var version = detectIE();

  if (version !== false) {
    document.getElementById('ember-container').style.display = 'none';
    document.getElementById('old-ie-version').style.display = '';
  }

:javascript
  $(window).on('load', function() {
      $('html').removeClass('hidden');
  });
