{{#if isEditingCondition}}
  {{!-- new and edit --}}
  <td>
    {{#unless rule.isCalculationRule}}
      if
    {{/unless}}
  </td>
  <td>
    {{#form-field for='question'}}
      <select
        data-test="condition-question-id-select"
        class="form-control"
        onchange={{action "setConditionQuestion" value="target.value"}}
      >
      {{#if rule.isCalculationRule}}
        {{#each availableQuestions as |question|}}
          <option value={{question.id}} selected={{eq question.id condition.questionId}}>{{question.questionText}} - {{question.id}} - ${{question.apiColumnName}}</option>
        {{/each}}
      {{else}}
        {{#each availableQuestions as |question|}}
          <option value={{question.id}} selected={{eq question.id condition.questionId}}>{{question.questionText}} - {{question.id}}</option>
        {{/each}}
      {{/if}}
      </select>
    {{/form-field}}
  </td>

  {{#unless rule.isCalculationRule}}
    <td>
      {{#form-field for='operator'}}
        <select
          data-test="condition-operator-select"
          class="form-control"
          onchange={{action "setConditionOperator" value="target.value"}}
        >
          {{#each operators as |operator|}}
            <option value={{operator}} selected={{eq operator condition.operator}}>{{operator}}</option>
          {{/each}}
        </select>
      {{/form-field}}
    </td>
    <td>
      {{#if showAnswerField}}
        {{#if useDropDownAnswerSelect}}
          {{#form-field for='answer'}}
            {{#if (or loadLocations.isRunning loadDataSources.isRunning)}}
              <div class="text-muted">
                <i class="glyphicon glyphicon-refresh spinning"></i> Loading options...
              </div>
            {{else if (or locationsError dataSourcesError)}}
              <div class="text-danger">
                <i class="glyphicon glyphicon-exclamation-sign"></i> 
                {{or locationsError dataSourcesError}}
                <button class="btn btn-xs btn-default" onclick={{action (perform (if currentQuestion.isLocationSelect loadLocations loadDataSources))}}>
                  Retry
                </button>
              </div>
            {{else}}
              <select
                data-test="condition-answer-choice-dropdown"
                class="form-control"
                onchange={{action "setConditionAnswer" value="target.value"}}
              >
                <option value="" selected={{eq condition.answer ""}}>Please select an answer</option>
                {{#if currentQuestion.isLocationSelect}}
                  {{#each locations as |location|}}
                    <option value={{location.name}} selected={{eq condition.answer location.name}}>{{location.name}}</option>
                  {{/each}}
                {{else if currentQuestion.isTaxonType}}
                  {{#each (sort-by "formatted_answer_choice_with_symbol" dataSources) as |source|}}
                    <option
                      value={{source.formatted_answer_choice_with_symbol}}
                      selected={{eq condition.answer source.formatted_answer_choice_with_symbol}}
                    >
                      {{source.formatted_answer_choice_with_symbol}}
                    </option>
                  {{/each}}
                {{else}}
                  {{#each questionAnswerChoices as |answerChoice|}}
                    <option value={{answerChoice.optionText}} selected={{eq condition.answer answerChoice.optionText}}>{{answerChoice.optionText}}</option>
                  {{/each}}
                {{/if}}
              </select>
            {{/if}}
          {{/form-field}}
        {{else}}
          {{#form-field for='answer'}}
            <input type="text"
                  data-test="condition.answer"
                  class="form-control"
                  value={{condition.answer}}
                  oninput={{action (mut condition.answer) value="target.value"}} />
          {{/form-field}}
        {{/if}}
      {{else}}
        <span class="text-muted">No answer needed for this operator</span>
      {{/if}}
    </td>
  {{/unless}}

  <td>
    <a class="btn btn-success btn-sm" data-test="save-condition-link" onclick={{action 'save'}}>
      Save
    </a>
  </td>
  <td>
    <a class="btn btn-default btn-sm" onclick={{action 'cancel'}}>
      Cancel
    </a>
  </td>

{{else}}
  {{#if isNewCondition}}
    <!-- + new answer choice button -->
    <td colspan="2">
      <a
        class="btn btn-success"
        data-test="add-condition-link"
        onclick={{action 'toggleForm' true}}
      >
        <span class="glyphicons glyphicons-plus"></span>
        Add Condition
      </a>
    </td>
    {{#unless rule.isCalculationRule}}
      <td></td>
      <td></td>
    {{/unless}}
    <td></td>
    <td></td>
  {{else}}
    {{!-- show of existing condition --}}
    <td>
      {{#unless rule.isCalculationRule}}
        if
      {{/unless}}
    </td>
    <td>
      {{#if rule.isCalculationRule}}
        <span title={{currentQuestion.questionText}}>{{currentQuestion.questionText}} - {{condition.questionId}} - ${{currentQuestion.apiColumnName}}</span>
      {{else}}
        <span title={{currentQuestion.questionText}}>{{currentQuestion.questionText}} - {{condition.questionId}}</span>
      {{/if}}
    </td>
    {{#unless rule.isCalculationRule}}
      <td><span class="label label-default">{{condition.operator}}</span></td>
      <td>
        {{#if showAnswerInDisplay}}
          <span data-test="condition.answer">{{condition.answer}}</span>
        {{else}}
          <span class="text-muted">No answer needed</span>
        {{/if}}
      </td>
    {{/unless}}
    <td>
      <a disabled={{question.surveyTemplate.lock}} class="btn btn-success btn-sm" data-test="edit-condition-link" onclick={{action 'toggleForm'}}>
        <span class="glyphicons glyphicons-pencil"></span>
        Edit
      </a>
    </td>
    <td>
      <a disabled={{question.surveyTemplate.lock}} class="btn" data-test="delete-condition-link" onclick={{action 'delete'}}>
        <span class="glyphicons glyphicons-bin"></span>
      </a>
    </td>
  {{/if}}
{{/if}}
