{{#ember-remodal
  forService=true
  name='question-modal'
  closeOnOutsideClick=false
  disableNativeClose=true
}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">Question Details</h3></div>
  <div class="panel-body">
    <!-- tabs bottom -->
    <div class="tabbable tabs-below">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-question-details" data-toggle="tab" role="tab">Details</a></li>
        {{#if question.rule}}
          <li><a href="#tab-question-conditionals" data-toggle="tab" role="tab">Conditionals</a></li>
        {{/if}}
        {{#if showAnswerChoices}}
          <li><a href="#tab-question-choices" data-toggle="tab" role="tab">Answer Choices</a></li>
        {{/if}}
      </ul>
    </div>
    <!-- /tabs -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-question-details">
        {{partial 'tabpanels/tab-question-details'}}
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-question-conditionals">
        {{#if question.rule}}
          {{partial 'tabpanels/tab-question-conditionals'}}
        {{/if}}
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-question-choices">
        {{#if showAnswerChoices}}
          {{partial 'tabpanels/tab-question-choices'}}
        {{/if}}
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-12">
          <a class="btn btn-primary" data-test="save-question-link" onclick={{action "save"}}>
            Save
          </a>
          <a class="btn btn-default" data-test="cancel-question-link" onclick={{action "closeModal"}}>
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/ember-remodal}}