{{!-- called from surveyStep and dislpays each answer type as readonly --}}
<div class="row">
  <div class="col-sm-3">
    {{#if question.childQuestion}}
      {{question.numChildren}}
    {{/if}}
    <span data-test="question.questionText">{{question.questionText}}</span>
  </div>
  <div class="col-sm-3" data-test="question.answerType.name">{{question.answerType.name}}</div>
  <div class="col-sm-3">
    {{#link-to "survey_step.question" question.id class="btn btn-success"}}
      <span class="glyphicon glyphicon-pencil"></span>
        Edit
    {{/link-to}}
    <a class="btn btn-success" {{action "editQuestion" on="click"}}>
    <span class="glyphicon glyphicon-pencil"></span>
      Edit
    </a>
    <span style="display:inline-block">delete</span>
  </div>
  <div class="col-sm-3 dev-only">
    <a class="btn"><span class="glyphicon glyphicon-sort"></span></a>
    {{question.sortOrder}} [{{question.railsId}}]
    {{#if question.ancestry}}
      [A={{question.ancestry}}]
    {{/if}}
    {{#if question.hidden}}
      H
    {{/if}}
    {{#if question.required}}
      R
    {{/if}}

    {{#if question.rule}}
      [CL show
      {{#each question.rule.conditions as |condition|}}
        if {{condition.questionId}} {{condition.operator}} {{condition.answer}}
        {{question.ruleMatchType}}
      {{/each}}
      ]
    {{/if}}
  </div>
</div>

{{yield}}
