<div class="container">
  <div class="col-md-12">
    {{#if isLoadingQuestions}}
      <div class="row">
        <div class="col-sm-12">
          <div class="progress-bar progress-bar-striped active notransition" role="progressbar" aria-valuenow="{{loadingProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{loadingProgress}}%;min-width: 2em;">
            {{loadingProgress}}%
          </div>
        </div>
      </div>
    {{else}}
      {{#if surveyTemplate.lock}}
        <div class="alert alert-info">
          <p>
            <span class="glyphicons glyphicons-lock" style="margin-right: 10px"></span>
            This survey has been locked because it is connected with a specific custom export.
        </p>
        </div>
      {{else}}
        {{#unless surveyTemplate.fullyEditable}}
          <div class="alert alert-info">
            <p>This survey has existing data.</p>
            <p>You can make changes to this survey, however, if you delete a question, previously submitted data will be deleted. In addition, if you add a question, previously submitted surveys won't have data for that question. Also, if you change the sort order, previously submitted data will be resorted. If you don't want to change previsouly submitted data then duplicate this survey template and make edits to the duplicated survey template.</p>
          </div>
        {{/unless}}
      {{/if}}

      {{#if (gt selectedQuestions.length 0)}}
        <div data-test-selected-questions class="header-selected">
          <div class="selected-questions-controls-status">
            <span data-test-total-selected-questions class="label label-warning">{{selectedQuestions.length}}</span> questions selected
            <a data-test-deselect-all onclick={{action 'clearAll'}}><span class="glyphicons glyphicons-remove"></span> Deselect all</a>
          </div>

          <div class="selected-questions-actions">
            <button onclick={{perform deleteQuestionsTask}} class="{{if deleteQuestionsTask.isRunning "disabled"}}" style="margin-right: 4px;">
              {{#liquid-if deleteQuestionsTask.isRunning}}
                <span class="glyphicons glyphicons-repeat gly-spin"></span>
                <span style="margin-left: 4px;">Deleting...</span>
              {{else}}
                <span class="glyphicons glyphicons-bin"></span>
                <span style="margin-left: 4px;">Delete</span>
              {{/liquid-if}}
            </button>
            <button onclick={{perform duplicateQuestionsTask}} class="{{if duplicateQuestionsTask.isRunning "disabled"}}">
              {{#liquid-if duplicateQuestionsTask.isRunning}}
                <span class="glyphicons glyphicons-repeat gly-spin"></span>
                <span style="margin-left: 4px;">Cloning...</span>
              {{else}}
                <span class="glyphicons glyphicons-duplicate"></span>
                <span style="margin-left: 4px;">Clone</span>
              {{/liquid-if}}
            </button>
          </div>
        </div>
      {{/if}}

      <div class="row">
        <div class="col-sm-4"><strong>Label</strong></div>
        <div class="col-sm-1"><strong>Question Type</strong></div>
        <div class="col-sm-1"><strong>Info</strong></div>
        <div class="col-sm-1"><strong>ID#</strong></div>
        <div class="col-sm-1"><strong>Parent ID#</strong></div>
        <div class="col-sm-2"><strong>Hide Show Logic</strong></div>
        <div class="col-sm-2"></div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          &nbsp;
        </div>
      </div>
      <div class="{{if isPerformingBulk 'opacited'}}">
        {{#sortable-group tagName="ul" class="sortable ui-sortable" onChange="sortedDropped" as |group|}}
          <!-- hardcode survey date row here -->
          <li class="li-question row question-border">
            <div class="row">
              <div class="col-sm-4" data-test="question.answerType.displayName">
                <span class="glyphicons glyphicons-sorting text-muted"></span>
                Survey Date
              </div>
              <div class="col-sm-2">Date</div>
              {{#if isSuperUser}}
                <div class="col-sm-6">
                  <span class="label label-default">Survey Date is automatically added and cannot be moved</span>
                </div>
              {{else}}
                <div class="col-sm-4">
                  <span class="label label-default">Survey Date is automatically added and cannot be moved</span>
                </div>
              {{/if}}
            </div>
          </li>
          {{#each sortedQuestions as |question|}}
            {{#if (not question.isLoading)}}
              {{#sortable-item tagName="li" class="li-question row question-border item" model=question group=group handle=".glyphicons-sorting"}}
                {{#if question.supportAncestry}}
                  {{#draggable-object-target action=(perform setAncestryTask) acenstry=question dragOverAction='dragOver' dragOutAction='dragOut'}}
                    {{question-row
                      question=question
                      otherQuetions=surveyTemplate.questions
                      deleteQuestion='deleteQuestion'
                      toggleQuestion=(action "toggleQuestion")
                      isFullyEditable=isFullyEditable
                      ancestrable=true
                      selectedQuestions=selectedQuestions
                    }}
                  {{/draggable-object-target}}
                {{else}}
                  {{#draggable-object content=question dragStartAction='dragStarted' dragEndAction='dragEnded' dragHandle='.glyphicons-move-square'}}
                    {{question-row
                      question=question
                      otherQuetions=surveyTemplate.questions
                      deleteQuestion='deleteQuestion'
                      toggleQuestion=(action "toggleQuestion")
                      isFullyEditable=isFullyEditable
                      selectedQuestions=selectedQuestions
                    }}
                  {{/draggable-object}}
                {{/if}}
              {{/sortable-item}}
            {{/if}}
          {{/each}}
        {{/sortable-group}}

        {{!-- Add new question --}}
        <ul class="sortable ui-sortable ember-view add-new-question {{if surveyTemplate.lock 'icon-disabled'}}">
          {{#link-to "survey_templates.record.questions.new"}}
            <li class="li-question row question-border question-border-add-row item">
              <span class="glyphicons glyphicons-plus-sign"></span>
              Add Question
            </li>
          {{/link-to}}
        </ul>
      </div>
    {{/if}}
  </div>
</div>
