{{#ember-remodal
  forService=true
  name='question-modal'
  closeOnOutsideClick=false
  closeOnEscape=false
  disableNativeClose=true
}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">Question Details</h3></div>
  <div class="panel-body">

    <div class="form-horizontal" style="text-align: left;">
      {{#object-form for=question}}
        <div class="form-group">
          <div class="col-sm-12">
            <label>
              Question Type
            </label>
              <span class="qm-popover-container">
                <a tabindex="0" role="button" data-toggle="popover" data-html="true" title="Question Type Glossary" data-placement="right"
                    data-template='<div class="popover glossary-popover" role="tooltip" style="margin-top: 120px;"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                    data-content="
                    <p><b>Question Type Glossary</b></p>
                    <hr>
                    <p><b>Basic</b></p>
                    <p><b>Check box</b> Single check box for true or false.</p>
                    <p><b>Counter</b> Incremental counter with button click. Great for inventories.</p>
                    <p><b>Date</b> Input your date.</p>
                    <p><b>Number</b> Input numbers, integers or decimals.</p>
                    <p><b>Text, multi-line</b> Multi-line text box. Good for very long descriptions.</p>
                    <p><b>Text, single line</b> Single line text box.</p>
                    <p><b>Time</b> Input time.</p>
                    <hr>
                    <p><b>Design</b></p>
                    <p><b>Helper text</b> Helper text can be used to give instructions to field data collectors.</p>
                    <p><b>Line</b> Line to separate sections.</p>
                    <p><b>Repeater</b> Repeated set of questions. Useful for the same set of data repeatedly collected in the same survey.</p>
                    <p><b>Section</b> A set of questions grouped together.</p>
                    <hr>
                    <p><b>Geographic</b></p>
                    <p><b>Latitude/Longitude</b> Drop a geographical point.</p>
                    <hr>
                    <p><b>Media</b></p>
                    <p><b>Documents</b> Document upload.</p>
                    <p><b>Photos</b> Photo upload(s). You can upload one or more photos. You can capture from your mobile device or select from your gallery.</p>
                    <p><b>Video</b> Video upload(s). You can upload one or more videos. You can capture from your mobile device or form your gallery.</p>
                    <hr>
                    <p><b>Multiple Choice</b></p>
                    <p><b>Check boxes</b> Multiple choice check boxes.</p>
                    <p><b>Multiple select</b> Multiple select answer choices with search.</p>
                    <hr>
                    <p><b>Single Choice</b></p>
                    <p><b>Location single select</b> Locations list setup in project admin.</p>
                    <p><b>Single select</b> Single select answer choices with search.</p>
                    <p><b>Radio button</b> Single select with radio buttons.</p>
                    <hr>
                    <p><b>Taxonomy</b></p>
                    <p><b>Taxon multiple select</b> Plant or wildlife taxon list, multiple choice, auto-filters as you type. Select a taxon list below to populate. </p>
                    <p><b>Taxon single select</b> Plant or wildlife taxon list, single choice, auto-filters as you type. Select a taxon list below to populate.
                    </p>" class="bootstrap-popover">
                  <span class="glyphicons glyphicons-info-sign"></span>
                </a>
              </span>
            {{#if (or isFullyEditable question.isNew)}}
              {{#form-field for='answerType'}}
                <select
                  disabled={{question.surveyTemplate.lock}}
                  data-test="answer-type-id-select"
                  class="form-control"
                  onchange={{action (queue (action "setAnswerType") (action "checkToResetDataSource")) value="target.value"}}
                >
                  {{#if showQuestionTypePlaceholder}}
                    <option disabled selected>Please select</option>
                  {{/if}}
                  {{#each groupedAnswerTypes as |group|}}
                    <optgroup label={{group.value}}>
                      {{#each group.items as |answerType|}}
                        <option value={{answerType.id}} title={{answerType.name}} selected={{eq question.answerType.id answerType.id}}>{{answerType.displayName}}</option>
                      {{/each}}
                    </optgroup>
                  {{/each}}
                </select>
              {{/form-field}}
              {{#unless showQuestionTypePlaceholder}}
                <p class="help-block">{{question.answerType.description}}</p>
              {{/unless}}
            {{else}}
              {{question.answerType.displayName}}
              <div class="alert alert-info">
                Answer Type cannot be changed on a survey template with survey data submitted.
                Duplicate survey form template to change the Answer Type.
                <br>
                <small>Helper Text question type can be changed here.</small>
              </div>
            {{/if}}
          </div>
        </div>
        {{#if question.isTaxonType}}
          <div class="form-group">
            <div class="col-sm-12">
              {{#form-field for='dataSource' label='Taxon List'}}
                <select
                  class="form-control"
                  data-test="data-source-select"
                  onchange={{action "setDataSource" value="target.value"}}
                >
                  <option></option>
                  {{#each dataSources as |opDataSource|}}
                    <option value={{opDataSource.id}} selected={{eq opDataSource.id question.dataSource.id}}>{{opDataSource.name}}</option>
                  {{/each}}
                </select>
              {{/form-field}}
            </div>
          </div>
        {{/if}}
        <div class="form-group">
          <div class="col-sm-12">
            {{#form-field for='questionText' label='Question Text'}}
              <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Required" data-content="The question label." class="bootstrap-popover">
                <span class="glyphicons glyphicons-info-sign"></span>
              </a>
              <textarea data-test="question.questionText"
                      disabled={{question.surveyTemplate.lock}}
                      name="questionText"
                      class="form-control"
                      style="height: 33px;"
                      onkeyup={{action "setQuestionText" value="target.value"}}
                      onchange={{action "setQuestionText" value="target.value"}}
                      maxlength={{if (or question.isARepeater question.isContainer) '50' '998'}}>{{question.questionText}}</textarea>
            {{/form-field}}
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            {{#form-field for='questionHelperText' label='Question Helper Text'}}
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Required" data-content="By entering helper text here a i icon will be displayed near the question. Clicking on the i icon will pop up the helper text. Useful for large amounts of helper text including project measures." class="bootstrap-popover">
              <span class="glyphicons glyphicons-info-sign"></span>
            </a>
              <textarea data-test="question.helperText"
                      name="helperText"
                      class="form-control"
                      style="height: 33px;"
                      onkeyup={{action (mut question.helperText) value="target.value"}}
                      onchange={{action (mut question.helperText) value="target.value"}}
                      maxlength='1500'>{{question.helperText}}</textarea>
            {{/form-field}}
          </div>
        </div>

        {{#unless question.isNew}}
          <div class="form-group">
            <div class="col-sm-12">
              {{#form-field for='apiColumnName' label='API Column Name'}}
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="API Column Name" data-content="This value will be used as the JSON key for this question by the Wildnote Developer API. Must be unique within the survey form and contain only letters, numbers, and underscores." class="bootstrap-popover">
                  <span class="glyphicons glyphicons-info-sign"></span>
                </a>
                <input type="text"
                      class="form-control"
                      data-test="question.apiColumnName"
                      value={{question.apiColumnName}}
                      oninput={{action (mut question.apiColumnName) value="target.value"}} />
              {{/form-field}}
            </div>
          </div>
        {{/unless}}

        {{#liquid-if isPhoto}}
          <div class="form-group">
            <div class="col-sm-3">
              {{#form-field for='maxPhotos' label='Max Photos'}}
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" data-container=".panel-info" title="Required" data-content="Set the maximum number of photos that can be captured for this photo question." class="bootstrap-popover">
                  <span class="glyphicons glyphicons-info-sign"></span>
                </a>
                <input data-test-order type="number"
                      name="maxPhotos"
                      min="1"
                      disabled={{question.surveyTemplate.lock}}
                      class="form-control"
                      value={{question.maxPhotos}}
                      onkeyup={{action "setMaxPhotoValue" value="target.value"}}
                      oninput={{action "setMaxPhotoValue" value="target.value"}} />
              {{/form-field}}
            </div>
          </div>
        {{/liquid-if}}
        <div class="row">
          {{#if isALatLongInsideARepeater}}
            <div style="padding-top: 25px;" data-test="capture-lat-long" class="col-md-9">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox"
                        disabled={{question.surveyTemplate.lock}}
                        name="captureLocationData"
                        checked={{question.combineLatlongAsLine}}
                        onchange={{action (mut question.combineLatlongAsLine) value="target.checked"}} /> Combine Lat/Long points inside the repeater as a Line
                </div>
              </div>
            </div>
          {{/if}}
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <div class="col-sm-12">
                <input type="checkbox"
                      disabled={{or isRequiredDisabled question.surveyTemplate.lock}}
                      name="isRequired"
                      checked={{question.required}}
                      onchange={{action (mut question.required) value="target.checked"}} /> Required
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Required" data-content="A required question must be answered in order to save the survey." class="bootstrap-popover">
                  <span class="glyphicons glyphicons-info-sign"></span>
                </a>
              </div>
            </div>
          </div>
        </div>


        {{#if (and isSuperUser question.isLocationSelect) }}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox"
                        disabled={{question.surveyTemplate.lock}}
                        name="enableSurveyHistory"
                        checked={{question.enableSurveyHistory}}
                        onchange={{action (mut question.enableSurveyHistory) value="target.checked"}} /> Enable Survey History (Superuser Only)
                </div>
              </div>
            </div>
          </div>
        {{/if}}

        {{#if (or (and isSuperUser question.isTextField) question.isLocationSelect) }}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox"
                        disabled={{question.surveyTemplate.lock}}
                        name="enableSurveyHistory"
                        checked={{question.newProjectLocation}}
                        onchange={{action (mut question.newProjectLocation) value="target.checked"}} /> Create Project Location
                </div>
              </div>
            </div>
          </div>
        {{/if}}



        {{#liquid-if showAnswerChoices class='show-answer-choices-liquid'}}
          <hr/>

          <div class="form-group">
            <div class="col-sm-11">
              <label data-test="answer-choices-label">Answer Choices</label>
            </div>
            <div class="col-sm-1">
              <span data-test-open-answer-choices onclick={{action (toggle "answerChoicesCollapsed" this)}}
                class="right glyphicon glyphicon-collapse-{{if answerChoicesCollapsed 'up' 'down'}}"></span>
            </div>
          </div>
          {{#liquid-unless answerChoicesCollapsed }}

            {{#each question.errors.answerChoices as |error|}}
              <div  class="alert alert-danger answer-choice-row" role="alert" data-test="answer-choices-error">
                {{error.message}}
              </div>
            {{/each}}
            <div class="panel">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover answer-choice-row">
                      {{#sortable-objects-tbody sortableObjectList=question.answerChoices sortEndAction=(action 'sortAnswerChoices') enableSort=true useSwap=true}}
                        {{#each answerChoicesToShow as |answerChoice|}}
                          {{answer-choice-row
                            content=answerChoice
                            question=question
                            saveParentTask=saveAnswerChoiceTask
                            answerChoice=answerChoice
                            isNewAnswerChoice=false
                            isSortable=true
                          }}
                        {{/each}}
                        {{answer-choice-row question=question saveParentTask=saveAnswerChoiceTask isNewAnswerChoice=true}}
                      {{/sortable-objects-tbody}}
                    </table>
                  </div>
                </div>
              </div>
            </div>

          {{/liquid-unless}}

        {{/liquid-if}}

        <hr />

        {{#if question.defaultAnswerEnabled}}
          <div class="form-group">
            <div class="col-sm-12">
              {{#form-field for='defaultAnswer' label='Default Answer'}}
                <input type="text"
                      name="defaultAnswer"
                      class="form-control"
                      data-test="question.defaultAnswer"
                      value={{question.defaultAnswer}}
                      oninput={{action (mut question.defaultAnswer) value="target.value"}} />
              {{/form-field}}
            </div>
          </div>
        {{/if}}

        <div class="form-group">
          <div class="col-sm-12">
            {{#form-field for='flaggedAnswers' label='Flagged Answers'}}
              <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Flagged Answers" data-content="Please enter a comma-separated list of answers for this question that should cause the survey to be flagged and be displayed in the Project Dashboard Issue Tracker." class="bootstrap-popover">
                <span class="glyphicons glyphicons-info-sign"></span>
              </a>
              <input type="text"
                     class="form-control"
                     data-test="question.flaggedAnswers"
                     value={{question.flaggedAnswers}}
                     oninput={{action (mut question.flaggedAnswers) value="target.value"}} />
            {{/form-field}}
          </div>
        </div>

        {{!-- Lookup rules --}}
        {{#if question.answerType.isLookupRuleable}}
          <div class="form-group" style="margin-top: 15px;">
            <div class="col-sm-9">
              <label>Default Answer Rules</label>
              <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Default Answer Rules" data-content="Add a rule to set the default answer for this question based another question's answer. If the rule conditions are met the default answer will be selected." class="bootstrap-popover">
                <span class="glyphicons glyphicons-info-sign"></span>
              </a>
            </div>
            <div class="col-sm-2">
              <button
                data-test-add-a-look-rule
                class="btn btn-success btn-sm"
                onclick={{perform addRule "Hanuman::LookupRule"}}
              >
                <span class="glyphicons glyphicons-plus"></span>Add rule
              </button>
            </div>
            <div class="col-sm-1">
              <span data-test-open-lookup-rules onclick={{action (toggle "lookupRulesCollapsed" this)}}
                class="right glyphicon glyphicon-collapse-{{if lookupRulesCollapsed 'up' 'down'}}"></span>
            </div>
          </div>


          {{#liquid-unless lookupRulesCollapsed }}
            {{#each (sort-by "id:desc" question.lookupRules) as |rule|}}
              {{rule-panel question=question conditionalQuestions=conditionalQuestions rule=rule }}
            {{/each}}
          {{/liquid-unless}}

          <hr style="margin-top: 20px;" />
        {{/if}}

        {{!-- Visibility rules --}}
        <div class="form-group">
          <div class="col-sm-{{if (not question.visibilityRule) '9' '11'}}">
            <label>Hide and Show Rules</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Hide and Show Rules" data-content="Add a rule to hide this question based on another question's answer. If the rule conditions are met the question will then be revealed in the survey." class="bootstrap-popover">
              <span class="glyphicons glyphicons-info-sign"></span>
            </a>
          </div>
          {{#if (not question.visibilityRule)}}
            <div class="col-sm-2">
              <button data-test-add-a-visi-rule class="btn btn-success btn-sm" onclick={{perform addRule "Hanuman::VisibilityRule"}}>
                <span class="glyphicons glyphicons-plus"></span>
                Add rule
              </button>
            </div>

          {{/if}}
          <div class="col-sm-1">
            <span data-test-open-visibility-rules onclick={{action (toggle "visibilityRulesCollapsed" this)}}
              class="right glyphicon glyphicon-collapse-{{if visibilityRulesCollapsed 'up' 'down'}}"></span>
          </div>
        </div>

        {{#if question.visibilityRule}}
          {{#liquid-unless visibilityRulesCollapsed }}
            {{rule-panel question=question conditionalQuestions=conditionalQuestions rule=question.visibilityRule }}
          {{/liquid-unless}}
        {{/if}}
        <hr/>

        {{#if (or question.isContainer question.isARepeater) }}
          <div class="form-group">
            <div class="col-sm-12">
              {{#form-field for='reportChildrenWidth' label='Question Text Width'}}
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Report Children Width"
                  data-content="Control the PDF Export layout by allocating a percent split between the Survey Questions and Survey Answers. For example, if you have long questions and short answers, you could allocate 65% to the questions thereby, the remaining 35% will be allocated to the answers. If you leave this blank, the global settings, located in the Survey Admin Details tab will be used."
                  class="bootstrap-popover">
                  <span class="glyphicons glyphicons-info-sign"></span>
                </a>
                <input type="number" name="reportChildrenWidth" class="form-control" data-test="question.reportChildrenWidth"
                  value={{question.reportChildrenWidth}} value="target.value"
                  onkeyup={{action "setReportChildrenWidth" value="target.value"}}
                  oninput={{action "setReportChildrenWidth" value="target.value"}} />
              {{/form-field}}
            </div>
          </div>
        {{/if}}

        {{#if isSuperUser}}
          <hr style="margin-top:15px;" />
          <section class="super-user">
            <div class="form-group">
              <div class="col-sm-11">
                <h4>Superuser only</h4>
              </div>
              <div class="col-sm-1">
                <span data-test-open-super-user
                  onclick={{action (toggle "superUserCollapsed" this)}}
                  class="right glyphicon glyphicon-collapse-{{if superUserCollapsed 'down' 'up'}}"
                ></span>
              </div>
            </div>


            {{#liquid-if superUserCollapsed}}
              {{!-- Calculation rules --}}

              {{#if question.answerType.hasAnAnswer}}
                <div class="form-group">
                  <div class="col-sm-{{if (not question.calculationRule) '9' '11'}}">
                    <label>Calculation Rules</label>
                    <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Calculation Rules" data-content="Add a JavaScript expression to dynamically calculate the value of this question. If the rule conditions are met the expression will be run." class="bootstrap-popover">
                      <span class="glyphicons glyphicons-info-sign"></span>
                    </a>
                  </div>
                  {{#if (not question.calculationRule)}}
                    <div class="col-sm-2">
                      <button data-test-add-a-calc-rule class="btn btn-success btn-sm" onclick={{perform addRule "Hanuman::CalculationRule"}}>
                        <span class="glyphicons glyphicons-plus"></span>
                        Add rule
                      </button>
                    </div>
                  {{/if}}
                  <div class="col-sm-1">
                    <span data-test-open-calculation-rules onclick={{action (toggle "calculationRulesCollapsed" this)}} class="right glyphicon glyphicon-collapse-{{if calculationRulesCollapsed 'up' 'down'}}"></span>
                  </div>
                </div>

                {{#if question.calculationRule}}
                  {{#liquid-unless calculationRulesCollapsed }}
                    {{rule-panel question=question conditionalQuestions=conditionalQuestions rule=question.calculationRule }}
                  {{/liquid-unless}}
                {{/if}}
              {{/if}}

              {{question-super-user-only
                question=question
                ancestryQuestions=ancestryQuestions
                hasAnAnswer=hasAnAnswer
                ancestryChange=(action "ancestryChange")
                processQuestionChanges=processQuestionChanges
              }}
            {{/liquid-if}}
          </section>
        {{/if}}
      {{/object-form}}
    </div>

    <hr/>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-12">
          <a class="btn btn-primary {{if saveTask.isRunning 'disabled'}}" data-test="save-question-link" onclick={{perform saveTask false}}>
            {{ if (or saveTask.isRunning question.isSaving) 'Saving...' 'Save' }}
          </a>
          <a class="btn btn-default" data-test="cancel-question-link" onclick={{action "closeModal"}}>
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/ember-remodal}}
