{{#ember-remodal
  forService=true
  name='question-modal'
  closeOnOutsideClick=false
  closeOnEscape=false
  disableNativeClose=true
}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">Question Details</h3></div>
  <div class="panel-body">

    <div class="form-horizontal" style="text-align: left;">
      {{#object-form for=question}}
        <div class="form-group">
          <div class="col-sm-12">
            <label>
              Question Type
            </label>
              <span class="qm-popover-container">
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" data-html="true" title="Question Type Glossary" data-placement="right"
                    data-template='<div class="popover glossary-popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                    data-content="<p>
                      <b>Basic</b>
                    </p>
                    <p>
                      <b>Check box</b>
                      Single check box for true or false.
                    </p>
                    <p>
                      <b>Counter</b>
                      Incremental counter with button click. Great for inventories.
                    </p>
                    <p>
                      <b>Date</b>
                      Input your date.
                    </p>
                    <p>
                      <b>Latitude/Longitude</b>
                      Drop a geographical point.
                    </p>
                    <p>
                      <b>Number</b>
                      Input numbers, integers or decimals.
                    </p>
                    <p>
                      <b>Text, multi-line</b>
                      Multi-line text box. Good for very long descriptions.
                    </p>
                    <p>
                      <b>Text, single line</b>
                      Single line text box.
                    </p>
                    <p>
                      <b>Time</b>
                      Input time.
                    </p>
                    <hr>
                    <p>
                      <b>Choices</b>
                    </p>
                    <p>
                      <b>Check boxes</b>
                      Multiple choice check boxes.
                    </p>
                    <p>
                      <b>Location single select</b>
                      Locations list setup in project admin.
                    </p>
                    <p>
                      <b>Multiple select</b>
                      Multiple select answer choices with search.
                    </p>
                    <p>
                      <b>Single select</b>
                      Single select answer choices with search.
                    </p>
                    <p>
                      <b>Radio button</b>
                      Single select with radio buttons.
                    </p>
                    <hr>
                    <p>
                      <b>Media</b>
                    </p>
                    <p>
                      <b>Documents</b>
                      Document upload.
                    </p>
                    <p>
                      <b>Photos</b>
                      Photo upload(s). You can upload one or more photos. You can capture from your mobile device or select from your gallery.
                    </p>
                    <p>
                      <b>Video</b>
                      Video upload(s). You can upload one or more videos. You can capture from your mobile device or form your gallery.
                    </p>
                    <hr>
                    <p>
                      <b>Design</b>
                    </p>
                    <p>
                      <b>Helper text</b>
                      Helper text can be used to give instructions to field data collectors.
                    </p>
                    <p>
                      <b>Line</b>
                      Line to separate sections.
                    </p>
                    <p>
                      <b>Repeater</b>
                      Repeated set of questions. Useful for the same set of data repeatedly collected in the same survey.
                    </p>
                    <p>
                      <b>Section</b>
                      A set of questions grouped together.
                    </p>" class="bootstrap-popover">
                  <span class="glyphicons glyphicons-info-sign"></span>
                </a>
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Taxonomy" data-content="Would you like a plant or animal list added to your survey? Contact us via chat below." class="bootstrap-popover">
                  <span class="glyphicons glyphicons-leaf"></span>
                </a>
              </span>
            {{#if (or isFullyEditable question.isNew)}}
              {{#form-field for='answerType'}}
                <select data-test="answer-type-id-select" class="form-control" onchange={{action "setAnswerType" value="target.value"}}>
                  {{#if showQuestionTypePlaceholder}}
                    <option disabled selected>Please select</option>
                  {{/if}}
                  {{#each sortedAnswerTypes as |answerType|}}
                    <option value={{answerType.id}} title={{answerType.name}} selected={{eq question.answerType.id answerType.id}}>{{answerType.displayName}}</option>
                  {{/each}}
                </select>
              {{/form-field}}
              {{#unless showQuestionTypePlaceholder}}
                <p class="help-block">{{question.answerType.description}}</p>
              {{/unless}}
            {{else}}
              {{question.answerType.displayName}}
              <div class="alert alert-info">
                Answer Type cannot be changed on a survey template with survey data submitted. Duplicate survey template to change the Answer Type.
              </div>
            {{/if}}
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-12">
            {{#form-field for='questionText' label='Question Text'}}
              <input type="text"
                    class="form-control"
                    data-test="question.questionText"
                    value={{question.questionText}}
                    oninput={{action (mut question.questionText) value="target.value"}} />
            {{/form-field}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <div class="col-sm-12">
                <input type="checkbox"
                      disabled={{isRequiredDisabled}}
                      name="isRequired"
                      checked={{question.required}}
                      onchange={{action (mut question.required) value="target.checked"}} /> Required
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Required" data-content="A required question must be answered in order to save the survey." class="bootstrap-popover">
                  <span class="glyphicons glyphicons-info-sign"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            {{#if isSuperUser}}
              {{#if hasAnAnswer}}
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="checkbox"
                          name="captureLocationData"
                          checked={{question.captureLocationData}}
                          onchange={{action (mut question.captureLocationData) value="target.checked"}} /> Capture Location Data (Superuser Only)
                  </div>
                </div>
              {{/if}}
            {{/if}}
          </div>
        </div>

        {{#liquid-if showAnswerChoices class='show-answer-choices-liquid'}}
          <hr/>

          <div class="form-group">
            <div class="col-sm-12">
              <label data-test="answer-choices-label">Answer Choices</label>
            </div>
          </div>

          {{#each question.errors.answerChoices as |error|}}
            <div  class="alert alert-danger" role="alert" data-test="answer-choices-error">
              {{error.message}}
            </div>
          {{/each}}

          <div class="panel">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody>
                      {{#each question.answerChoices as |answerChoice|}}
                        {{#unless answerChoice.hideFromList}}
                          {{answer-choice-row content=answerChoice isSortable=false question=question save='saveAnswerChoice' answerChoice=answerChoice isNewAnswerChoice=false}}
                        {{/unless}}
                      {{/each}}
                      {{answer-choice-row question=question save='saveAnswerChoice' isNewAnswerChoice=true isSortable=false}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        {{/liquid-if}}

        <hr />

        <div class="form-group">
          <div class="col-sm-12">
            <label>Hide and Show Rules</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Hide and Show Rules" data-content="Add a rule to hide this question by default. If the rule conditions are met the question will then be revealed in the survey." class="bootstrap-popover">
              <span class="glyphicons glyphicons-info-sign"></span>
            </a>
          </div>
        </div>

        {{#if question.isNew}}
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <a class="btn btn-success" onclick={{action "save" true}}>
                  <span class="glyphicons glyphicons-plus"></span>
                  Add rule
                </a>
              </div>
            </div>
          </div>
        {{/if}}

        {{#if question.rule}}

          <div class="panel">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody>
                      <tr class="no-hover">
                        <td colspan="6">
                          <select data-test="rule-match-type-select" class="form-control" onchange={{action "setRuleMatchType" value="target.value"}}>
                            <option value="any" selected={{eq question.rule.matchType 'any'}}>match on any question condition</option>
                            <option value="all" selected={{eq question.rule.matchType 'all'}}>match on all question conditions</option>
                          </select>
                        </td>
                      </tr>
                      <tr class="no-hover">
                        <td width="10px"></td>
                        <td>Question</td>
                        <td>Operator</td>
                        <td>Answer</td>
                        <td width="10px"></td>
                        <td width="10px"></td>
                      </tr>
                      {{#each question.rule.conditions as |condition|}}
                        {{condition-row condition=condition rule=question.rule questions=conditionalQuestions save='saveCondition' remove='removeCondition' isNewCondition=false}}
                      {{/each}}
                      {{condition-row rule=question.rule questions=conditionalQuestions save='saveCondition' remove='removeCondition' isNewCondition=true}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        {{/if}}

        <div class="form-group">
          <div class="col-sm-12">
            <input type="checkbox"
                  name="isHidden"
                  checked={{question.hidden}}
                  onchange={{action (mut question.hidden) value="target.checked"}} /> Hidden
                  <a tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="Hidden" data-content="A question will be automatically hidden if there is a rule associated with it." class="bootstrap-popover">
                    <span class="glyphicons glyphicons-info-sign"></span>
                  </a>
          </div>
        </div>

        {{#if isSuperUser}}
          <hr/>
          <section class="super-user">
            <div class="form-group">
              <div class="col-sm-12">
                <h4>Superuser only</h4>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                {{#form-field for='parentId' label='Parent Relationship'}}
                  <select class="form-control" data-test="ancestry-select" onchange={{action "ancestryChange" value="target.value"}}>
                    <option></option>
                    {{#each ancestryQuestions as |opQuestion|}}
                      <option value={{opQuestion.id}} selected={{eq opQuestion.id question.parentId}}>{{opQuestion.questionText}} - {{opQuestion.id}}</option>
                    {{/each}}
                  </select>
                {{/form-field}}
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                {{#form-field for='externalDataSource' label='External Data Source'}}
                  <input type="text"
                        class="form-control"
                        data-test="question.externalDataSource"
                        value={{question.externalDataSource}}
                        oninput={{action (mut question.externalDataSource) value="target.value"}} />
                {{/form-field}}
              </div>
            </div>
          </section>
        {{/if}}
      {{/object-form}}
    </div>

    <hr/>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-12">
          <a class="btn btn-primary" data-test="save-question-link" onclick={{action "save"}}>
            {{ if question.isSaving 'Saving...' 'Save' }}
          </a>
          <a class="btn btn-default" data-test="cancel-question-link" onclick={{action "closeModal"}}>
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/ember-remodal}}
