<div class="container">
  <div class="col-md-12">
    {{#if isLoadingQuestions}}
      <div class="row">
        <div class="col-sm-12">
          <div class="progress-bar progress-bar-striped active notransition" role="progressbar" aria-valuenow="{{loadingProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{loadingProgress}}%;min-width: 2em;">
            {{loadingProgress}}%
          </div>
        </div>
      </div>
    {{else}}
    {{#if surveyTemplate.fullyEditable}}
    {{else}}
      <div class="alert alert-info">
        <p>This survey has existing data.</p>
        <p>You can make changes to this survey, however, if you delete a question, previously submitted data will be deleted. In addition, if you add a question, previously submitted surveys won't have data for that question. Also, if you change the sort order, previously submitted data will be resorted. If you don't want to change previsouly submitted data then duplicate this survey template and make edits to the duplicated survey template.</p>
      </div>
    {{/if}}

      <div class="row">
        <div class="col-sm-4"><strong>Label</strong></div>
        <div class="col-sm-2"><strong>Question Type</strong></div>
        <div class="col-sm-2"><strong>Info</strong></div>
        {{#if isSuperUser}}
          <div class="col-sm-2"><strong>Debug</strong></div>
        {{else}}
          <div class="col-sm-1"><strong>ID#</strong></div>
          <div class="col-sm-1"><strong>Section ID#</strong></div>
        {{/if}}
        <div class="col-sm-4"></div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          &nbsp;
        </div>
      </div>


      {{#sortable-group tagName="ul" class="sortable ui-sortable" onChange=(route-action "reorderQuestions") as |group|}}
        <!-- hardcode survey date row here -->
        <li class="li-question row question-border">
          <div class="row">
            <div class="col-sm-4" data-test="question.answerType.displayName">
              <span class="glyphicons glyphicons-sorting text-muted"></span>
              Survey Date
            </div>
            <div class="col-sm-2">Date</div>
            {{#if isSuperUser}}
              <div class="col-sm-6">
                <span class="label label-default">Survey Date is automatically added and cannot be moved</span>
              </div>
            {{else}}
              <div class="col-sm-4">
                <span class="label label-default">Survey Date is automatically added and cannot be moved</span>
              </div>
            {{/if}}
          </div>
        </li>
        {{#each sortedQuestions as |question|}}
          {{#sortable-item tagName="li" class="li-question row question-border item" model=question group=group handle=".glyphicons-sorting"}}
            {{#if question.supportAncestry}}
              {{#draggable-object-target action="setAncestry" acenstry=question dragOverAction='dragOver' dragOutAction='dragOut'}}
                {{question-row question=question deleteQuestion='deleteQuestion' isFullyEditable=isFullyEditable ancestrable=true}}
              {{/draggable-object-target}}
            {{else}}
              {{#draggable-object content=question dragStartAction='dragStarted' dragEndAction='dragEnded' dragHandle='.glyphicons-move-square'}}
                {{question-row question=question deleteQuestion='deleteQuestion' isFullyEditable=isFullyEditable}}
              {{/draggable-object}}
            {{/if}}
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}

      {{!-- Add new question --}}
      <ul class="sortable ui-sortable ember-view add-new-question">
        {{#link-to "survey_templates.record.questions.new"}}
          <li class="li-question row question-border question-border-add-row item">
            <span class="glyphicons glyphicons-plus-sign"></span>
            Add Question
          </li>
        {{/link-to}}
      </ul>
    {{/if}}
  </div>
</div>
