<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          {{#if isLookupRule}}
            <tr class="no-hover">
              <td colspan="6" style="border-top: none;">
                <a class="btn btn-delete" style="float: right;" onclick={{action "deleteRule"}}>
                  <span class="glyphicons glyphicons-bin"></span>
                </a>
              </td>
            </tr>
          {{/if}}
          <tr class="no-hover">
            <td colspan="6">
              <select
                data-test="rule-match-type-select"
                class="form-control"
                onchange={{action "setRuleMatchType" value="target.value"}}
              >
                <option value="any" selected={{eq rule.matchType 'any'}}>match on any question condition (OR)</option>
                <option value="all" selected={{eq rule.matchType 'all'}}>match on all question conditions (AND)</option>
              </select>
            </td>
          </tr>
          <tr class="no-hover">
            <td width="10px"></td>
            <td>Question</td>
            <td>Operator</td>
            <td>Answer</td>
            <td width="10px"></td>
            <td width="10px"></td>
          </tr>
          {{#each conditions as |condition|}}
            {{condition-row
              condition=condition
              rule=rule
              question=question
              questions=conditionalQuestions
              saveTask=saveConditionTask
              removeTask=removeConditionTask
              isNewCondition=false
            }}
          {{/each}}
          {{condition-row
            rule=rule
            question=question
            questions=conditionalQuestions
            saveTask=saveConditionTask
            removeTask=removeConditionTask
            isNewCondition=true
          }}
          {{#if isLookupRule}}
            <tr class="no-hover defaul-rule-value">
              <td data-test-multiple-answers-select colspan="6">
                {{#if question.answerType.hasAnswerChoices}}
                  {{#power-select-multiple
                    class="form-control"
                    options=question.answerChoices
                    selected=choicesValueSelected
                    renderInPlace=true
                    verticalPosition="below"
                    placeholder="Answers to set select on this question"
                    onchange=(action "setAnswerChoiceRuleValue")
                    as |answerChoice|
                  }}
                    {{answerChoice.optionText}}
                  {{/power-select-multiple}}
                {{else}}
                  <input
                    placeholder="Value to set on this question"
                    type="text"
                    class="form-control"
                    value={{rule.value}}
                    oninput={{action (mut rule.value) value="target.value"}}
                  />
                {{/if}}
              </td>
            </tr>
          {{else if isCalculationRule}}
            <tr class="no-hover defaul-rule-value">
              <td data-test-multiple-answers-select colspan="6">
                <textarea
                  placeholder="JS expression for this calculation"
                  type="text"
                  class="form-control"
                  value={{rule.script}}
                  oninput={{action (mut rule.script) value="target.value"}}
                />
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>
