{{#object-form for=surveyTemplate}}
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      {{#form-field for='name'}}
        <input type="text"
              class="form-control"
              data-test="surveyTemplate.name"
              value={{surveyTemplate.name}}
              oninput={{action (mut surveyTemplate.name) value="target.value"}} />
      {{/form-field}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="survey_template_survey_type">Type</label>
    <div class="col-sm-4">
      {{#form-field for='surveyType'}}
        <input type="text"
              class="form-control"
              data-test="surveyTemplate.surveyType"
              value={{surveyTemplate.surveyType}}
              oninput={{action (mut surveyTemplate.surveyType) value="target.value"}} />
      {{/form-field}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="survey_template_status">Status</label>
    <div class="col-sm-4">
      {{#form-field for='status'}}
        <select data-test="surveyTemplate.status" class="form-control" onchange={{action "setStatus" value="target.value"}}>
          {{#each statuses as |status|}}
            <option value={{status}} selected={{eq surveyTemplate.status status}}>{{status}}</option>
          {{/each}}
        </select>
      {{/form-field}}
    </div>
  </div>
  {{#if isSuperUser}}
    <div class="form-group">
      <label class="col-sm-2 control-label" for="survey_template_status">Owner</label>
      <div class="col-sm-4">
        {{#form-field for='organizationId'}}
          {{#power-select
              selected=(find-by 'id' surveyTemplate.organizationId organizations)
              options=organizations
              searchField="name"
              onchange=(action (mut surveyTemplate.organizationId) value="id")
              as |organization|
            }}
              {{organization.name}}
          {{/power-select}}
        {{/form-field}}
      </div>
    </div>
  {{/if}}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a class="btn btn-primary" data-test="save-survey-template-link" onclick={{route-action "save"}}>
        Save
      </a>
      {{#unless surveyTemplate.isNew}}
        {{#link-to 'survey_templates.record' surveyTemplate class="btn btn-default" activeClass=""}}
          Cancel
        {{/link-to}}
      {{/unless}}
    </div>
  </div>
{{/object-form}}
