- content_for :title do
  Edit Survey Form
- content_for :navbar_sub_data do
  active
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title
      - if params[:project_id]
        Admin /
        = link_to "Survey Forms", hanuman_project_survey_templates_path(params[:project_id])
        \/
        = link_to "Edit Survey Form + #{@survey_template.name_plus_version}", edit_hanuman_project_survey_template_path(params[:project_id], params[:id])
      - else
        Admin / Survey Forms / Edit Survey Form - #{@survey_template.name_plus_version}
  .tab-base.tab-stacked-top
    %ul.nav.nav-tabs
      %li
        - if params[:project_id]
          %a{:href => "/hanuman/admin/projects/#{params[:project_id]}/survey_templates/#{@survey_template.id}/edit"} Survey Form Layout
        - else
          %a{:href => "/hanuman/admin/survey_templates/#{@survey_template.id}/edit"} Survey Form Layout
      %li.active
        %a Survey Form Details
    .tab-content
      = render "form"
