- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active
- content_for :title do
  Survey Templates

.page-header
  - if current_user.superuser?
    = link_to new_survey_template_path, class: "btn btn-primary" do
      %span.glyphicon.glyphicon-plus
      New Survey Template
  %h1 Survey Templates

.pull-right= paginate @survey_templates

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Type
        %th Status
        - if current_user.superuser?
          %th

    %tbody
      - @survey_templates.each do |survey_template|
        %tr
          %td= link_to survey_template.name, survey_template
          %td= link_to survey_template.survey_type, survey_template
          %td= link_to survey_template.status, survey_template
          - if current_user.superuser?
            %td
              = link_to survey_template, data: {confirm: "Are you sure you want to delete this Survey Template?"}, method: :delete, class: "btn btn-xs btn-danger" do
                %span.glyphicon.glyphicon-trash

.pull-right= paginate @survey_templates
