- content_for :title do
  New Form

- if params[:project_id].present?

  - content_for :navbar_sub_projects do
    active
  - content_for :navbar_sub_projects_sub_project_surveys do
    active
- else
  - content_for :navbar_hanuman_survey_library do
    active
  - content_for :navbar_main_settings do
    active

- content_for :helper_list do
  = render "hanuman/survey_templates/helper_list"

.panel.panel-info
  .panel-heading
    %h3.panel-title
      - if params[:project_id].present?
        Project Setup /
        = link_to "Form Library", forms_project_path(params[:project_id])
        \/
        = link_to new_hanuman_project_survey_template_path(params[:project_id]) do
          New Form
      - else
        = link_to hanuman_survey_templates_library_path do
          Form Library
        \/
        = link_to new_hanuman_survey_template_path() do
          New Form
  - if params[:project_id].present?
    .tab-base.tab-stacked-top{style: "margin-bottom:0px;"}
      %ul.nav.nav-tabs.projects-tabs
        %li
          = link_to main_app.forms_project_path(params[:project_id]) do
            Project Library
        %li
          = link_to main_app.company_forms_project_path(params[:project_id]) do
            Company Library
        %li
          = link_to main_app.library_forms_project_path(params[:project_id]) do
            Wildnote Library
        %li.active
          %a
            %span.glyphicons.glyphicons-plus{style: "color: #5ba625; padding-right: 5px;"}
            New Form

  = render "form"
