- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active
- content_for :title do
  Survey Template Details


.panel
  .panel-heading
    %h3.panel-title Survey Template Details
    = link_to edit_survey_template_path(@survey_template), class: "btn btn-primary panel-title-button-right" do
      %span.glyphicon.glyphicon-pencil
      Edit Survey Template
    = link_to duplicate_survey_template_path(@survey_template), data: {confirm: "Are you sure you want to duplicate this Survey Template?"}, method: :patch, class: "btn btn-primary panel-title-button-right-2" do
      %span.glyphicon.glyphicon-repeat
      Duplicate Survey Template

.form-horizontal

  .well
    .form-group
      = label_tag nil, "Name", class: "col-sm-1 control-label"
      .col-sm-11
        %p.form-control-static= @survey_template.name
    .form-group
      = label_tag nil, "Type", class: "col-sm-1 control-label"
      .col-sm-3
        %p.form-control-static= @survey_template.survey_type
      = label_tag nil, "Status", class: "col-sm-1 control-label"
      .col-sm-3
        %p.form-control-static= @survey_template.status
      = label_tag nil, "Created", class: "col-sm-1 control-label"
      .col-sm-3
        %p.form-control-static= @survey_template.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y")

  - steps = @survey_template.survey_steps

  - steps.each do |step|
    .panel.panel-info
      .panel-heading.chevron{:"data-toggle" => "collapse", :"data-target" => "#collapse_#{step.step}"}
        .panel-title
          .pull-left
            %span.glyphicon.glyphicon-chevron-right
            %span.glyphicon.glyphicon-chevron-down
            %strong
              Step
              = step.step
            - if step.duplicator?
              %em= "(" + Hanuman::Setting.value("duplicator_step_label") + ")"
          .clearfix
      .panel-collapse.collapse.in{:id => "collapse_#{step.step}"}
        .panel-body
          .pull-right.edit-delete
            = link_to admin_path + "/#/survey_steps/" + step.id.to_s, class: "btn btn-xs btn-primary" do
              %span.glyphicon.glyphicon-pencil
              Edit Step
          .clearfix
          - if step.step == 1
            = render ("hanuman/survey_templates/formextensionreadonly")
          - step.questions.each do |q|
            = render ("hanuman/survey_templates/dynamicfield"), q: q
