- content_for :title do
  Survey Templates
- content_for :title_parent do
  Design a Survey
- content_for :title_icon do
  glyphicons-edit
- content_for :title_actions do
  = render "actions", locals: {}
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title Survey Template Attributes
  .panel-body
    .pull-right
      -# duplication makes more sense on the index page, once you are drilling in you are more focused on editing
      -# = link_to duplicate_survey_template_path(@survey_template), data: {confirm: "Are you sure you want to duplicate this Survey Template?"}, method: :patch, class: "btn btn-success" do
      -#   %span.glyphicons.glyphicons-repeat
      -#   Duplicate Survey Template
      = link_to edit_survey_template_path(@survey_template), class: "btn btn-success" do
        %span.glyphicons.glyphicons-pencil
        Edit Survey Template Attributes
    .clearfix
    %form.form-horizontal
      .form-group
        = label_tag nil, "Name", class: "col-sm-1 control-label"
        .col-sm-11
          %p.form-control-static= @survey_template.name
      .form-group
        = label_tag nil, "Type", class: "col-sm-1 control-label"
        .col-sm-3
          %p.form-control-static= @survey_template.survey_type
        = label_tag nil, "Status", class: "col-sm-1 control-label"
        .col-sm-3
          %p.form-control-static= @survey_template.status
        = label_tag nil, "Created", class: "col-sm-1 control-label"
        .col-sm-3
          %p.form-control-static= @survey_template.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y")

- steps = @survey_template.survey_steps

  .panel.panel-info
    .panel-heading.chevron{:"data-toggle" => "collapse", :"data-target" => "#collapse_1"}
      .panel-title
        .pull-left
          %span.glyphicons.glyphicons-chevron-right
          %span.glyphicons.glyphicons-chevron-down
          Survey Template Form
        .clearfix
    .panel-collapse.collapse.in{:id => "collapse_1"}
      .panel-body
        %form.form-horizontal
          .pull-right.edit-delete
            = link_to admin_path + "/#/survey_templates/" + @survey_template.id.to_s, class: "btn btn-success" do
              %span.glyphicons.glyphicons-pencil
              Edit Survey Template Form
          .clearfix
          = render ("hanuman/survey_templates/formextensionreadonly")
          - @survey_template.questions.each do |q|
            = render ("hanuman/survey_templates/dynamicfield"), q: q
