- if @survey.errors.any?
  - flash.now[:alert] = @survey.errors.full_messages.join(', ').to_s

= form_for @survey, html: {class: "form-horizontal"} do |f|

  .col-sm-12
    = f.object.survey_template.name
  .col-sm-12
    = f.object.project.name
  .col-sm-12
    = f.object.project.organization.name

  = f.hidden_field :project_id
  = f.hidden_field :survey_template_id



  -# loop through survey questions and display
  = f.fields_for :observations do |ff|
    = ff.hidden_field :survey_question_id

    -#debug
    -#.col-sm-12
    -#  = debug ff.object
    -#end debug

    .form-group
      = ff.label :answer, ff.object.survey_question.order.to_s + '. ' + ff.object.survey_question.question.question_text, class: "col-sm-2 control-label"
      .col-sm-8
        = ff.text_field :answer, class: "form-control"
      .col-sm-1
        = ff.object.group.to_s
      .col-sm-1
        = ff.object.answer_type

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Save", class: "btn btn-primary"
      = link_to "Cancel", surveys_path, data: {confirm: "Are you sure you want to Cancel?"}, class: "btn btn-default"
