- if @survey.errors.any?
  - flash.now[:alert] = @survey.errors.full_messages.join(', ').to_s

= form_for @survey, builder: CustomFieldsFormBuilder, html: {class: "form-horizontal"} do |f|

  .page-header
    %h5
      = f.object.project.organization.name + ": "
      %i= f.object.project.name
      |
      Mode:
      %i= yield :survey_form_state
    %h1= f.object.survey_template.name
    
  = f.hidden_field :project_id
  = f.hidden_field :survey_template_id

  -# loop through survey questions and display
  - @survey.observations.each_with_index do |observation, index|
    = f.fields_for :observations, observation do |ff|
      = ff.hidden_field :survey_question_id
      
      = render ("hanuman/surveys/_form/" + ff.object.survey_question.question.answer_type.name), ff: ff, index: index rescue render "hanuman/surveys/_form/rescue/notsupported", ff: ff, index: index
      
  .form-group
    .col-sm-offset-5.col-sm-7
      = f.submit "Save", class: "btn btn-primary"
      = link_to "Cancel", surveys_path, data: {confirm: "Are you sure you want to Cancel?"}, class: "btn btn-default"
