- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_surveys do
  active

.page-header
  = form_tag new_survey_path, method: 'get' do
    = button_tag type: 'submit', class: "btn btn-primary" do
      Start Entry
    = select_tag :survey_template_id,
                  options_from_collection_for_select(Hanuman::SurveyTemplate.all, :id, :name, params[:survey_template_id]),
                  {class: 'form-control'}
    = label_tag "Select Survey:"
  %h1 Surveys

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Survey Template
        %th Author
        %th Created
        %th

    %tbody
      - @surveys.each do |survey|
        %tr
          %td
            = link_to survey, class: "small" do
              = survey.survey_template.name unless survey.survey_template.blank?
          %td= link_to survey.author, survey, class: "small" unless survey.author.blank?
          %td
            = link_to survey, class: "small" do
              = survey.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y")
              %br/
              = survey.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%I:%M %p")
          %td
            = link_to survey, data: {confirm: "Are you sure you want to delete this Survey?"}, method: :delete, class: "btn btn-xs btn-danger" do
              %span.glyphicon.glyphicon-trash
