- content_for :title do
  New Survey
- content_for :navbar_hanuman_surveys do
  active
- content_for :survey_form_state do
  New Report Entry
- content_for :current_step do
  1
-# = render "form"

- if @survey.errors.any?
  - flash.now[:alert] = @survey.errors.full_messages.join(', ').to_s

- current_step = yield(:current_step).strip
- survey_form_state = yield(:survey_form_state).strip

= form_for @survey, builder: CustomFieldsFormBuilder, html: {class: "form-horizontal form-no-enter-key"} do |f|

  .page-header
    %h5
      Mode:
      %i= survey_form_state
    %h1= f.object.survey_template.name

  - steps = @survey.survey_template.survey_steps

  .panel.panel-default
    .panel-body
      .survey-progress
        - steps.each do |step|
          .col-sm-4{class: "#{step.step == 1 ? 'current' : ''}"}
            %span.glyphicons.progress-mark{class: "#{step_status(@survey, step.step, current_step)}"}
            = "Step " + step.step.to_s

  = f.hidden_field :survey_template_id

  .panel.panel-info
    .panel-heading.chevron{:"data-toggle" => "collapse", :"data-target" => "#collapse_1_1"}
      %h4.panel-title.pull-left
        %span.glyphicons.glyphicons-chevron-right
        %span.glyphicons.glyphicons-chevron-down
        %strong
          Step 1 Entry 1
      .clearfix
    .panel-collapse.in{:id => "collapse_1_1"}
      .panel-body

        -# if step 1 then call form extension partial to include any survey level fields extended by the parent app
        = render ("hanuman/surveys/formextension"), f: f

        - @survey.observations.each_with_index do |o, index|
          = f.fields_for :observations, o do |ff|
            .form-container-entry-item
              = ff.hidden_field :question_id
              = render ("hanuman/surveys/fields/" + ff.object.question.answer_type.name), ff: ff, index: index rescue render "hanuman/surveys/fields/rescue/notsupported", ff: ff, index: index

  .form-group
    .col-sm-offset-5.col-sm-7
      = f.submit "Next Step", class: "btn btn-primary", data: {disable_with: "Please wait..."}
      = link_to "Cancel", root_path, data: {confirm: "Are you sure you want to Cancel?"}, class: "btn btn-default"
