- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_surveys do
  active
- content_for :title do
  Survey Details

.page-header
  - if @show_survey_duplicator
    = link_to duplicate_survey_path(@survey), data: {confirm: "Are you sure you want to duplicate this Survey?"}, method: :patch, class: "btn btn-primary" do
      %span.glyphicon.glyphicon-repeat
      Duplicate
  %h5
    %b Mode:
    %i Review
  %h1= @survey.survey_template.name

.form-horizontal

  .well
    .form-group
      = label_tag nil, "Author", class: "col-sm-5 control-label"
      .col-sm-7
        %p.form-control-static= @survey.author
    .form-group
      = label_tag nil, "Created", class: "col-sm-5 control-label"
      .col-sm-7
        %p.form-control-static= @survey.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%A %B %e, %Y %l:%M %p")

  - steps = @survey.survey_template.steps
  - steps.each do |step|
    - step_observations = @survey.observations.filtered_by_step(step)
    - unless step_observations.blank?
      - if step_observations.first.survey_question.duplicator
        - entries = @survey.observations.filtered_by_step(step).entries
        - entries.each do |entry|
          - entry_observations = @survey.observations.filtered_by_step_and_entry(step, entry)
          = render ("hanuman/surveys/fields/readonly/shared/panel"), show: true, survey: @survey, observations: entry_observations, step: step, entry: entry
        .panel.panel-success
          .panel-body.text-right
            = link_to edit_survey_path(@survey.id,step,step_observations.last.entry+1), class: "btn btn-xs btn-success" do
              %span.glyphicon.glyphicon-plus
              Add Entry
      - else
        - entry = step_observations.first.entry
        = render ("hanuman/surveys/fields/readonly/shared/panel"), show: true, survey: @survey, observations: step_observations, step: step, entry: entry
