- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_surveys do
  active

.page-header
  = link_to edit_survey_path(@survey), class: "btn btn-primary" do
    %span.glyphicon.glyphicon-pencil
    Edit
  = link_to duplicate_survey_path(@survey), data: {confirm: "Are you sure you want to duplicate this Survey?"}, method: :patch, class: "btn btn-primary" do
    %span.glyphicon.glyphicon-repeat
    Duplicate
  %h5
    %b= @survey.project.organization.name + ": "
    %i= @survey.project.name
    |
    %b Mode:
    %i Review
  %h1= @survey.survey_template.name

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Survey ID
        %th= @survey.id
        %th
      %tr
        %th Survey Created
        %th= @survey.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%A, %B %e, %Y %l:%M %p")
        %th
      %tr
        %th Survey Updated
        %th= @survey.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%A, %B %e, %Y %l:%M %p")
        %th
    %tbody
      - @survey.observations.each do |o|
      
        = render ("hanuman/surveys/show/" + o.survey_question.question.answer_type.name), o: o rescue render "hanuman/surveys/show/rescue/notsupported", o: o
