.form-group
  = render "hanuman/surveys/fields/readonly/shared/label", o: o
  .col-sm-7.doc-preview
    - o.observation_documents.order(sort_order: :asc).each do |d|
      - document_url = cloudinary_url(d.document.url)
      - if document_url.blank?
        %p.form-control-static.bg-danger PHOTO NOT FOUND
        = d.document.my_public_id + "." + d.document.format + " | this document failed to upload successfully, please retry upload or remove"
        %br
        %br
      - else
        -# - doc_name = d.path
        -# - doc_name = doc_name.sub ".pdf", ".png" if doc_name.include? ".pdf"
        - if ['pdf','jpg','png','gif'].include? d.document.url.last(3)
          = cl_image_tag(d.document.my_public_id, size: '50x50', crop: :fill, format: 'jpg', class: 'doc-preview')
        - else
          = image_tag("file-icon.png")
        %br
        = link_to d.document.my_public_id + "." + d.document.format + " | download file", cloudinary_url(d.document.url, attachment: true, resource_type: :raw), html_options = { download: true }
        %br
        %br
      %label
        Document Description
      %br
      = d.description
      %br
      %br
      %label
        Document Sort Order
      %br
      = d.sort_order
      %br
      %br
      %br
