.form-group
  .col-sm-7.col-sm-offset-5.map-container
    .hidden
    .col-sm-12.latlong{id: "map#{o.id}", style: "width:100%; height:320px;", :"data-latlong" => o.answer, :"data-infowindow" => o.question.question_text}
  .clearfix
  = render "hanuman/surveys/fields/readonly/shared/label", o: o
  .col-sm-7.latlong-in-survey-show
    %p.form-control-static= o.latitude
    %p.form-control-static= o.longitude
    %p.form-control-static= "#{o.speed} m/s"
    %p.form-control-static= "#{o.direction} degrees"
    %p.form-control-static= "#{o.altitude} meters"
    %p.form-control-static= "#{o.accuracy} meters"
