.form-group
  .col-sm-7.col-sm-offset-5.map-container
    .hidden
    .col-sm-12.latlong{id: "map#{o.id}", style: "width:100%; height:320px;", :"data-latlong" => o.answer, :"data-infowindow" => o.question.question_text}
  .clearfix
  = render "hanuman/surveys/fields/readonly/shared/label", o: o
  .col-sm-7.latlong-in-survey-show
    %p.form-control-static= "#{o.latitude}, #{o.longitude}"
    - unless o.speed.blank?
      %p.form-control-static= "#{o.speed} m/s" 
    - unless o.direction.blank?
      %p.form-control-static= "#{o.direction} degrees"
    - unless o.altitude.blank?
      %p.form-control-static= "#{o.altitude} meters"
    - unless o.accuracy.blank?
      %p.form-control-static= "#{o.accuracy} meters"
