.form-group
  = render "hanuman/surveys/fields/readonly/shared/label", o: o
  .col-sm-7.latlong-in-survey-show
    %p.form-control-static
      %pre.geometry-pretty-print
        - if o.geometry.present?
          = JSON.pretty_generate(GeometryUtil::recursive_convert_to_json(o.geometry))
    - if o.geometry.present?
      %p.form-control-static= "Label: #{o.geometry['properties']&.[]('label')}"
    - if o.datum.present?
      %p.form-control-static= "Datum: #{o.datum}"
    - if o.utm_string.present?
      %p.form-control-static= "UTM: #{o.utm_string}"
    -# - unless o.speed.blank?
    -#   %p.form-control-static= "Speed: #{o.speed.to_f.round(6)} m/s"
    -# - unless o.direction.blank?
    -#   %p.form-control-static= "Heading: #{o.direction.to_f.round(6) unless o.direction.blank?} degrees"
    -# - unless o.altitude.blank?
    -#   %p.form-control-static= "Altitude: #{o.altitude.to_f.round(6) unless o.altitude.blank?} meters"
    -# - unless o.accuracy.blank?
    -#   %p.form-control-static= "Accuracy: #{o.accuracy.to_f.round(2) unless o.accuracy.blank?} meters"

