<p id="notice"><%= notice %></p>

<p>
  <strong>Rule:</strong>
  <%= @rule_condition.rule %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @rule_condition.condition %>
</p>

<%= link_to 'Edit', edit_rule_condition_path(@rule_condition) %> |
<%= link_to 'Back', rule_conditions_path %>
